[2012-01-04 07:16] tester22 opened #6 "Replace elementtree with lxml"
To start the migration from standalone script to Plex plugin replace Elementtree withj lxml.

[2012-01-04 07:17] tester22 opened #7 "Figure out how to parse the logfile from inside the plugin"
Make a function for logsucking that works from inside the plugin.

[2012-01-04 07:18] tester22 opened #8 "Don't die if any field is missing when loading metadata."
If a movie or show doesn't have IMDB or TVDB id the script dies.
Just ignore the scrobble if that information is missing.

[2012-01-04 07:36] tester22 opened #10 "Make function to communicate with Plex."
Make function to communicate with Plex.

[2012-01-04 07:37] tester22 opened #11 "Make function to communicate with trakt.tv"
Make function to communicate with trakt.tv

[2012-01-04 07:39] tester22 opened #12 "Support for PMS that requires auth."
Currently the script doesn't support Plex Media Servers that require auth.

[2012-01-04 10:43] tester22 opened #13 "Add function to manually sync PMS to trakt.tv"
Add button in plugin to manually sync PMS library to trakt.tv.
Don't know if it should be one or two way.

[2012-01-09 22:02] #11 closed, assigned to nobody

[2012-01-10 12:27] #12 closed, assigned to nobody

[2012-01-10 22:58] Taruga opened #14 "Bug ?"
I had this error today:

Found the episode Seven Thirty-Seven from 2009, lets make a call to trakt.tv

Traceback (most recent call last):
  File "/trakttv.py", line 193, in <module>
    add_to_trakt(type, title, year, int(float(duration)/60000), percent, guid)
  File "/trakttv.py", line 120, in add_to_trakt
    tvdb_id = m.group(1)
AttributeError: 'NoneType' object has no attribute 'group'

Keep u

[2012-01-11 07:52] #14 closed, assigned to nobody

[2012-01-16 20:12] #8 closed, assigned to nobody

[2012-01-16 20:13] #10 closed, assigned to nobody

[2012-01-16 20:16] #6 closed, assigned to nobody

[2012-06-07 07:16] andrew-hill opened #18 "Crash due to non-ascii character in name"
I got this output when the scrobbler crashed:

[code]

The logfile contained:

[code]

Where the **name** includes the em-dash character: —

It looks as if its attempting to convert explicitly from ascii to unicode, but the movie name is already in unicode... in any case a failed conversion is probably an exception case that can be handled.

I don't quite understand what's gone wrong though, becau

[2012-06-13 20:34] tester22 opened #19 "Add a dict that holds data from PMS"
Avoid calling PMS for new data when we still have current one.
This will make is possible to only call trakt twize for each item, one time to watch and one to scrobble.

[2012-06-14 08:27] #18 closed, assigned to nobody

[2012-06-14 08:28] #7 closed, assigned to nobody

[2012-06-14 08:31] tester22 opened #20 "Don't spam the trakt.tv api"
The plugin has no control regarding how often it should call the trakt api.
There is need for functionality so that we only call the trakt api twice for each item:
- Mark as watching when we detect a new item
- Scrobble when we have over 85 % progress.

[2012-06-14 08:33] tester22 opened #21 "Cache metadata from PMS"
Don't get new data from PMS if we haven't changed the playing item.
It should be enough to have a dict containing all the metadata.

[2012-06-18 08:52] #20 closed, assigned to nobody

[2012-06-18 08:52] #21 closed, assigned to nobody

[2012-06-18 08:53] tester22 opened #22 "Make the plugin autostart with PMS"

[2012-06-18 16:50] #19 closed, assigned to nobody

[2012-06-18 21:57] tester22 opened #23 "Add recommended items to watchlist"
Add this as an item in the trakt.tv app.

[2012-07-10 20:07] #22 closed, assigned to nobody

[2012-08-06 07:12] danielb2 opened #25 "Toggle Scrobbling - displays as always enabled"
`Scrobbling is currently enabled, click here to disable it`

This message displays `enabled` regardless of toggling.

Tested version: ae5800ec7214023a37ea7667191e7e94238feca4

[2012-08-06 07:20] #25 closed, assigned to nobody

[2012-08-11 06:36] chrillep opened #26 "Adding to plex resource"
i dunno if u feel its still to beta but i would love if you added it here http://devblog.plexapp.com/2011/11/15/a-github-guide-to-fixing-a-plugin/  for more spport in the later versions of plex

[2012-08-11 09:23] #26 closed, assigned to nobody

[2012-08-11 13:43] #13 closed, assigned to nobody

[2012-08-11 13:44] tester22 opened #27 "Clean up UI"

[2012-08-11 13:44] tester22 opened #28 "Add better graphics"

[2012-08-11 13:45] tester22 opened #29 "Write documentation as a webpage."

[2012-08-11 17:01] tester22 opened #30 "Change regexp to support DLNA clients"

[2013-02-18 09:51] #30 closed, assigned to nobody

[2013-02-18 20:26] tester22 opened #33 "Fix incorrect logging settings automatically during startup."
When launching the container call the url: Call: http://127.0.0.1:32400/:/prefs
If the value LogVerbose is 0 display an error to the user and as if they wan't to call http://127.0.0.1:32400/:/prefs?LogVerbose=1 in the background.

[2013-02-19 20:00] #33 closed, assigned to nobody

[2013-06-13 03:47] ghost opened #34 "Doesn't work with Plex Media Server 0.9.8."
Scrobbling is broke in the Plex Pass versions of Plex Media Server. The log is split into several logs now.

[2013-06-13 04:43] #34 closed, assigned to nobody

[2013-08-25 23:06] cotycondry opened #35 "Login fails with ampersand in trakt.tv account password"
I used a password generator to create my trakt.tv account password, and while the Plex/Web interface of the channel plugin escapes the ampersands in the configuration xml, it fails to log in to trakt.tv to scrobble or sync:

2013-08-25 17:54:59,821 (7fb7beffd700) :  INFO (__init__:553) - Trakt responded with: Login failed

[2013-08-25 23:10] ccondry opened #36 "Recieve "The media server is not responding." error when trakt.tv login fails"
When the trakt.tv login fails during a sync, the Plex/Web reports "The media server is not responding." instead of a more accurate error message about the login failing.

[2013-09-12 21:12] #36 closed, assigned to nobody

[2013-10-03 07:41] dutchiexl opened #37 "Scrobbling does not work"
I installed the trakt plugin, but nothing happens. Can you help me out to find the bug ?

[2013-10-11 10:28] fuzeman opened #38 "Support scrobbling for users without Plex Pass"
Currently this plugin requires the use of /status/sessions which is only available to plex pass users.

We could add log monitoring back in as a fallback for users without a plex pass membership, will need to investigate if this method is still possible.

[2013-10-12 23:58] #37 closed, assigned to nobody

[2013-10-13 23:26] fuzeman opened #39 "Media paused after scrobbling is re-scrobbled when resumed"
![](http://i.imgur.com/0Bm0EJV.png)

[2013-10-14 11:34] #39 closed, assigned to fuzeman

[2013-10-18 11:21] fuzeman opened #40 "Client Notifications"
Show notifications on PHT clients (matching the XBMC plugin notifications)

[2013-10-18 11:27] fuzeman opened #41 "Syncing - Bidirectional, Automated, Status/Progress Display"
Automated 2-way syncing with the ability to see syncing status/progress and with better handling of errors. See forum requests for more information.

**Forums requests:**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-41#entry476666
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-42#entry480415

[2013-10-20 04:53] fuzeman opened #42 "ZeroDivisionError, media with bad metadata"
**Issue reported via forum thread:**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-42#entry481530

[code]

**Stack Trace:**

[code]

I suspect this is an issue when playing media with bad metadata (missing/corrupt data), this needs to be confirmed though.

[2013-10-22 09:22] foux opened #43 "Error publishing TV Shows"
Hello,
I've got an error when trying to publish TV Shows :

[code]

Any idea where this might come from?

[2013-10-22 12:04] #43 closed, assigned to nobody

[2013-10-23 02:24] fuzeman opened #44 "[Sync] Sync on library updates"
We can identify when the library has updated by catching the real-time message sent via the websocket channel.

**Message sent:**
`Library scan complete: Extra information may still be downloading from the Internet`

**Note:**
This will require changing the activity system to open the websocket client for users without plex pass, instead of switching entirely to the logging activity method.

Relat

[2013-10-27 00:23] fuzeman opened #45 "Plugin fails to start sometimes on PMS startup"
On PMS startup sometimes the plugin fails to start as /status/sessions isn't ready yet and log files are missing. Should ensure the plugin retries activity method testing on server startup.

---

[code]

[2013-10-28 22:39] fuzeman opened #46 "[Sync] Cleanly return a message on manual sync"
This will require moving syncing into separate threads so we can return a message to the user straight away.

---

**Copy from issue https://github.com/fuzeman/Plex-Trakt-Scrobbler/issues/4**

When starting a sync, it "works" then times out with an error.
It still runs after this (from what I see in the logs) so I think the plugin should simply give a message like "sync started on PMS" instead of

[2013-10-29 09:33] fuzeman opened #47 "WebSocket connection can close resulting in the plugin failing to scrobble"
[code]

[2013-10-29 10:42] #47 closed, assigned to fuzeman

[2013-10-29 10:42] #38 closed, assigned to fuzeman

[2013-10-31 08:33] fuzeman opened #48 "Plugin only scrobbles 3 episodes per session"
**Copy from issue reported in thread**

[code]

http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-45#entry488785

[2013-11-04 03:33] fuzeman opened #49 "Logging activity stops reading, blocks indefinitely"
The logging activity method can fall into an indefinite read block (on log file rotations?)

This issue is limited to clients using the Logging Activity method (non PlexPass users) and is probably Windows only as Python doesn't use the native Windows File IO.

**Resolution**
Currently working on a module to replace File IO on Windows with the use of the native winapi methods.

[2013-11-07 09:41] fuzeman opened #50 "Logging read timeouts need adjusting"
[code]

A large number of timeouts are occurring while reading the log file, timeout and retry interval values should be adjusted to allow more time while reading to try lessen the chance of this happening.

[2013-11-07 09:48] fuzeman opened #51 "Constant watch session updates"
**Reported from forum thread**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-46#entry494226

[code]

[2013-11-07 10:13] fuzeman opened #52 "Watching status not cancelled on Plex for Samsung"
On the Plex for Samsung client the plugin continues to receive "playing" messages from the WebSocket channel (possibly present in the log file as well) after the media finishes leading to the watching status continuing to be sent.

[2013-11-07 10:20] fuzeman opened #53 "Session not found"
**Reported from forum thread**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-46#entry494226

Could be related to https://github.com/trakt/Plex-Trakt-Scrobbler/issues/51

[code]

[2013-11-07 16:05] #50 closed, assigned to fuzeman

[2013-11-08 06:41] fuzeman opened #54 "Bad file descriptor on Windows Server 2008"
I suspect this might be a compatibility issue in WindowsASIO native calls, will need to reproduce this locally to debug where the issue lies as the stack trace doesn't look valid. Possibly an issue on Windows 7 as well (as it shares the same kernel).

**Reported from forum thread**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-47#entry494826

[code]

[2013-11-08 06:59] fuzeman opened #55 "Metadata request timeouts while syncing should be handled gracefully"
While syncing the media server can timeout leading to the syncing process ending, the syncing overhaul is planned in the next milestone but this should be fixed in the interim as this might be awhile away.

**Reported from forum thread**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-47#entry494427
http://forums.plexapp.com/index.php/topic/35626-plex-m

[2013-11-08 15:18] #54 closed, assigned to fuzeman

[2013-11-08 15:18] #45 closed, assigned to fuzeman

[2013-11-08 15:18] #48 closed, assigned to fuzeman

[2013-11-08 15:18] #49 closed, assigned to fuzeman

[2013-11-11 03:49] fuzeman opened #56 "Unable to detect activity of PMC clients"
Activity from Plex Media Center is logged differently in "Plex Media Server.log" so we need to make changes to ensure this format is supported.

**Reported in forum thread**
http://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-48#entry495559

[2013-11-12 01:48] #51 closed, assigned to fuzeman

[2013-11-12 01:49] #53 closed, assigned to fuzeman

[2013-11-12 15:10] aktur opened #57 "Scrobbler stops on critical error."
I use PMS on Synology NAS with the 0.6.10 developer version (but the same error is observed with previous versions too). After some time a critical error happens and the plugin stops activity, unless it stops to write to the log file. The last words in the com.plexapp.plugins.trakttv.log file are:

2013-11-12 15:02:12,811 (3c00c) :  DEBUG (scrobbler_websocket:135) - Nothing to do this time for Hom

[2013-11-16 11:46] #56 closed, assigned to fuzeman

[2013-11-17 01:44] sfnetwork opened #58 "Sync automatically on library refresh or/and on intervals"
Trakt is used to scrobble but also is used as a tool (I think for a lot of users) to sync "watched" states and collections.
Right now, it has to be done manually which is "ok" but I think this is the kind of process that should run without interaction form user.
I suggest to have the option to run automatically on intervals or / and on  library refresh.

![2013-11-16 8-39-05 pm](https://f.cloud.gi

[2013-11-17 01:54] #58 closed, assigned to nobody

[2013-11-19 23:09] #42 closed, assigned to fuzeman

[2013-11-20 01:06] fuzeman opened #59 "Watching status not cancelled when paused (PHT 1.0+)"
It looks like PHT changed it's timeline reporting, so when paused we don't continue receiving timeline updates meaning the 15 second paused wait time is never reached.

We will need to monitor the sessions and trigger the 'cancelwatching' request outside of the activity message processing.

[2013-11-20 09:14] #59 closed, assigned to fuzeman

[2013-11-20 09:14] #52 closed, assigned to fuzeman

[2013-11-22 12:45] #55 closed, assigned to fuzeman

[2013-12-02 01:26] fuzeman opened #60 "File descriptor not found on Unix systems without /proc/*/fd"
**Reported on forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-51#entry510784

[code]

[2013-12-02 01:29] fuzeman opened #61 "Network issues while connecting to trakt, can cause syncing to fail"
Will need to look at increasing timeouts and/or adding request retrying.

**Reported on forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-51#entry510933

[2013-12-02 01:40] fuzeman opened #62 "Syncing stops on episodes with missing data"
**Reported from forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-51#entry510784

[code]

[2013-12-02 01:47] fuzeman opened #63 "Syncing stops on failed metadata requests"
**Reported from forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/#entry511157

[code]

[2013-12-02 02:01] fuzeman opened #64 "Legacy client support for users with the timeline endpoint"
Easiest fix for now will be to add an option to force the use of the legacy activity method (Logging).

**Reported from forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-51#entry510683

[2013-12-02 06:42] #64 closed, assigned to fuzeman

[2013-12-02 06:42] #62 closed, assigned to fuzeman

[2013-12-02 06:42] #63 closed, assigned to fuzeman

[2013-12-02 06:42] #61 closed, assigned to fuzeman

[2013-12-03 02:20] #60 closed, assigned to fuzeman

[2013-12-03 09:50] fuzeman opened #65 "[Sync] Only send watched/collection changes"
Currently the entire watched/collection list is sent to trakt, this involves hundreds of excessive requests and greatly slows down syncing.

http://trakt.tv/api-docs/sync should be followed to instead compare our local data against trakt and only send _differences_ to trakt.

[2013-12-03 09:54] fuzeman opened #66 "[Sync] Customizable syncing schedule"
Provide the ability for a user to specify an interval/time to schedule syncing for (every hour, or 11PM every day, etc...)

[2013-12-03 09:59] fuzeman opened #67 "[Sync] Provide the ability to check the status of syncing"
This could include any errors on the last sync, when syncing was last run, number of items synced, etc...

[2013-12-03 10:00] #41 closed, assigned to fuzeman

[2013-12-11 00:32] fuzeman opened #68 "Syncing stops on episodes missing an episode number"
**Reported on forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-53#entry517843

[code]

[2013-12-11 00:50] #68 closed, assigned to fuzeman

[2013-12-26 09:45] fuzeman opened #69 "Plugin fails to load, missing 'json' module"
**Reported on forum thread**
https://forums.plexapp.com/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-54#entry532439

[code]

[2013-12-26 11:01] #69 closed, assigned to fuzeman

[2013-12-26 12:40] fuzeman opened #70 "Plugin is incompatible with older versions of Python"
On OS X (and possibly Linux?) plugins are run in the version of python installed on the system, this can lead to the plugin running in an older version of Python, ideally we need to ensure comparability with Python 2.6 (and 2.5?) to resolve any issues with running the plugin in Plex.

[2013-12-30 05:26] karmadelic702 opened #71 "No Login information entered"
Every time i click on sync, I receive a message stating that no login information entered. When I click on the settings button, my login information is entered. i tried removing the login info and re-adding. I also tried to reset my password on trakt. Not sure what else to do to try to get this to work. thanks- Jeff

[2013-12-31 00:49] Jeradin opened #72 "Removing media from Plex to also remove the Collection flag from Trakt?"
I tested deleting media form my storage and updating Plex which removed it from my Plex Library and than did a Trakt sync all media, but the media was still marked as added to my collection on the Trakt website.

I am wondering if this is an option that could be added or maybe it is an annoying one as some people might want to remove an item from Plex but still want it as collected in Trakt?

Edit

[2013-12-31 03:30] enz1ey opened #73 "How to specify client names under "Scrobble - Client names""
I use an Apple TV 3 running plexconnect with the trakt.tv plugin installed on my PMS. I also have multiple users sharing my library, so I only want my activity logged. I have my Plex username specified under "Scrobble - myPlex Users" but that doesn't track any of my activity since plexconnect on the Apple TV doesn't support myPlex login. How should I specify the client under "Scrobble - Client nam

[2014-01-01 03:07] #70 closed, assigned to fuzeman

[2014-01-02 05:38] fuzeman opened #74 "Easier client scrobbling authorization"
Create a new "Clients" menu that is automatically populated with clients detected with activity and provide options to allow/disallow scrobbling on a per-device basis.

This will simplify the process of client activity filtering and allow users to see what clients have been "seen" and allow/disallow scrobbling for them by clicking a menu button. The current "Scrobble - Client Names" feature requir

[2014-01-02 10:15] #46 closed, assigned to fuzeman

[2014-01-03 03:04] #67 closed, assigned to fuzeman

[2014-01-03 21:01] Zorks opened #75 "Issue when running two Plex media servers on the same network"
We have two Plex Media Servers running on our network, one mapped to port 32400 and one to 32401. I recently introduced the owner of the 32400 server to the trakt plugin and we've hit upon an odd bug. When we both have the plugin and the server running, I (32401) seem to get his (32400) plugin when accessing it through the web application; complete with his login credentials.

I've confirmed that

[2014-01-04 00:08] #75 closed, assigned to fuzeman

[2014-01-04 04:22] fuzeman opened #76 "Changing activity filters can leave sessions "stuck""
Changing filtering options can leave sessions stuck ("Invalid session, unable to continue"), when filter options change, we should trigger a recheck of the active sessions to ensure we pickup scrobbling on sessions that match the new filter.

**Reported on forum thread**
https://forums.plex.tv/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-56#entry541139

[2014-01-08 11:35] InfernoZeus opened #77 "Scrobbling not working"
I've updated to the latest public version of PMS - 0.9.8.18.290-11b7fdd - and updated to the latest version on master, but scrobbling isn't working. I've tried with both the PHT client on OSX and an iOS client. Whatever it is that's meant to trigger the plugin isn't happening as it never does anything past the initial set up. Here's the "full" log:

[code]

[2014-01-08 12:16] #77 closed, assigned to fuzeman

[2014-01-09 13:42] lucanoid opened #78 "Scrobblling shared libraries"
Everything is working (scrobbling ans syncing) but even though I have set the name of the plex user it should only scrobble from, the plug-in is scrobbling from every account I have shared my library with.

I have also tried limiting it to the clients I use but it doesn't work as well.

If you need me to provide logs let me know.

Thanks.

[2014-01-12 15:44] StephenShamakian opened #79 "Scrobbling not working in v0.7.8-master"
The Auto Scrobbling (where I start playing a file and it shows under my user account as currently watching on Trakt.tv) doesn't seem to be working. In fact nothing "automatic" seems to be working including syncing. I have to go into the Trakt.tv plugin in Plex and manually click the Sync all to Trakt.tv.

Is this a known issue?

[2014-01-12 17:13] artbird309 opened #80 "Scrobblling Episode when Paused."
It seems like every time I paused an episode it scrobblled it on Trakt. Of the two episodes I watched yesterday, one was marched as watched twice and the other three times.

I am using PHT in Windows and PMS 0.9.8.18 on Linux.

If you need anymore details I am willing provide anything that is needed.

Thanks,
ARTbird309

[2014-01-13 01:09] rgon10 opened #81 "GUID Detection does not work with Media Center Master scanner / metadata"
Hello,

I have an issue, and a possible fix for the mentioned issue.

The issue is that I use Media Center Master and scanner for managing metadata and handing it over to plex. Media Center Master uses a GUID of "com.plexapp.agents.mcm://MCM_TV_A_<tvdb_ID>" and was not supported in the REGEX matching done by the trakt plugin. I received the GUID matching failed error on all tv series.

A possible

[2014-01-13 15:12] fuzeman opened #82 "Support scrobbling with only title and year"
If the media being watched is using an unsupported metadata agent (or is unmatched) currently the media is just ignored, instead the scrobbler should just send the title and year of the media for trakt to match against.

[2014-01-13 15:15] #81 closed, assigned to fuzeman

[2014-01-14 02:26] pyro2927 opened #83 "TV Shows not syncing up to Trakt"
I installed the plugin and got it connected to my trakt account.  The movies I've watched have gotten synced up.  The TV shows don't.  Log below:

[code]

The metadata requests go through, and I know I've watched many of these shows, but I can't exactly pin down why it's syncing 0 series.  Would be happy to post more logs if that would help.

[2014-01-14 03:38] #83 closed, assigned to fuzeman

[2014-01-14 07:49] Technicolour opened #84 "TV Series aren't syncing"
I'm struggling to get my tv series to sync with trakt (from plex). It states that the sync has completed however nothing is transferred.

An excerpt from my log file.

2014-01-14 20:41:30,805 (7ff63e7fc700) :  DEBUG (network:108) - Requesting 'http://localhost:32400/library/metadata/6595' (xml) [retry, timeout: 3]
2014-01-14 20:41:30,808 (7ff63e7fc700) :  DEBUG (network:108) - Requesting 'http://l

[2014-01-15 01:11] fuzeman opened #85 "Support for MPC-HC external player"
Currently when using MPC-HC as an external player automatic scrobbling fails to work as the plugin can't retrieve the progress from the player.

Using the MPC-HC web interface we can pull the progress from the player. We will need to add an option to enable detection of these clients and if available, use this method of progress retrieval.

[2014-01-16 01:21] fuzeman opened #86 "Display current version in the channel view"
Merge the about menu from `feature/syncing-2.0` into master

[2014-01-19 02:59] #80 closed, assigned to fuzeman

[2014-01-19 06:59] #65 closed, assigned to fuzeman

[2014-01-19 19:02] SathyaBhat opened #87 "Add Trakt rating support"
The xbmc addon allows you to rate the show after the playback has ended. This is sorely missing in the Plex version. Please add this feature

[2014-01-20 01:44] #86 closed, assigned to fuzeman

[2014-01-20 08:00] #44 closed, assigned to fuzeman

[2014-01-20 08:03] fuzeman opened #88 "[Sync] Two-way "Synchronize" task"
Implement the synchronize task for two-way syncing (Pull then Push)

[2014-01-20 08:06] fuzeman opened #89 "[Sync] Progress reporting"
Implement progress reporting into syncing tasks so progress and estimated time remaining can be correctly calculated + displayed.

[2014-01-20 12:44] #88 closed, assigned to fuzeman

[2014-01-20 17:43] SathyaBhat opened #90 "Scrobbling doesn't work when viewed from Plex/Web?"
I'm not sure if this is a bug or not, but Trakt scrobbling doesn't seem to work when I'm watching something from Plex/Web?

The usecase for me would be to view something from my Chromebook while I'm in the kitchen/some other room.

[2014-01-21 02:56] #90 closed, assigned to nobody

[2014-01-21 12:56] fuzeman opened #91 "Episodes re-sent when already seen/collected on trakt"
The log file indicates episodes are being sent to trakt, when they are either failing to be added or are already in the trakt library. This wastes network/server resources and slows down syncing greatly.

[code]

[2014-01-21 18:34] SathyaBhat opened #92 "Trakt scrobbler keeps pegging CPU after being idle for a while"
Been seeing this in a very regular manner. After being idle for a while, trakt plugin seems to hog my CPU.

I figured it's [trakt from](http://i.imgur.com/lVp8eci.jpg) launching Process explorer.

![](http://i.imgur.com/lVp8eci.jpg)

Seems to be hung up on "log file read nothing.." per the logs. The trakttv plugin log is available here:

http://paste.ubuntu.com/6793051/

[2014-01-22 01:02] fuzeman opened #93 "Missing GUIDs on metadata causes syncing to fail"
[code]

[2014-01-22 01:25] fuzeman opened #94 "Support for XBMC NFO metadata in GUID parser"
Support for 'xbmcnfo' (imdb) and 'xbmcnfotv' (thetvdb) metadata GUIDs

[2014-01-22 03:56] fuzeman opened #95 "Music sections are included in the sync menu"
We should filter non-movie/tv sections from the sync menu as they can't be sent to trakt.

![](http://i.imgur.com/DHxOaf4.png)

[2014-01-22 07:31] #95 closed, assigned to nobody

[2014-01-22 07:31] #94 closed, assigned to fuzeman

[2014-01-22 07:32] #91 closed, assigned to fuzeman

[2014-01-22 07:32] #93 closed, assigned to fuzeman

[2014-01-22 08:44] danstis opened #96 "Sync fails on latest Beta (0.8.0.1) due to missing sid?"
Snippit from my log.

This item has been logged from a personal videos library that I use for docos.

---

2014-01-22 18:38:24,898 (32e0) :  DEBUG (logkit:13) - [core.network] Requesting 'http://localhost:32400/library/metadata/30350' (xml)
2014-01-22 18:38:25,905 (32e0) :  DEBUG (logkit:13) - [core.network] Requesting 'http://localhost:32400/library/metadata/30951' (xml)
2014-01-22 18:38:26,924 (

[2014-01-22 09:29] Nik2407 opened #97 "Plugin is not installing on Windows 8.1 last stable version of plugin"
No matter if i manually copy files in plugins directory or if i install from Unsupported App store, it doesn't show up in Plex.
Last beta is working, but doesn't sync.
Windows 8.1 64bit, last version of Plex.

[2014-01-22 11:32] #97 closed, assigned to nobody

[2014-01-23 01:13] fuzeman opened #98 "Pushing a specific section to trakt"
Currently when you push a certain section via the sync menu, it ignores the selection and still pushes everything. This push task should be handled correctly and only push the selected section.

[2014-01-23 01:15] #96 closed, assigned to nobody

[2014-01-23 02:21] fuzeman opened #99 ""Run after library updates" fails to trigger a sync"
Looks like the notification is never seen/processed by the sync manager.

**Reported on forum thread**
https://forums.plex.tv/index.php/topic/35626-plex-media-server-scrobbler-for-trakttv/page-60#entry560723

[2014-01-23 03:58] #99 closed, assigned to fuzeman

[2014-01-23 05:19] #66 closed, assigned to fuzeman

[2014-01-23 05:46] #98 closed, assigned to nobody

[2014-01-23 05:49] fuzeman opened #100 "Link syncing task status"
The syncing task statuses should be linked so that a "Push all" updates the individual sections push status.

Same with "Synchronize", when the task finishes update all the "Push" and "Pull" task statuses to indicate they have been run recently.

[2014-01-23 05:52] fuzeman opened #101 "Run child sync tasks in parallel"
When triggering the "Push" (or "Pull") child tasks (e.g. Movie and Show) spawn them as separate threads to speed up syncing.

[2014-01-23 16:51] SathyaBhat opened #102 "PTS 0.8.0.2 beta does not start up"
PTS 0.8.0.2 beta doesn't start up.

This is traceback from logs:

[code]

Running PMS 0.9.818.290-11b7fdd on Windows 8.1

[2014-01-23 23:44] thle opened #103 "Scrobbling not working in v0.7.12-master"
I'm running PMS 0.9.8.18.290-11b7fdd on Ubuntu 12.04 (3.8.0-35-generic #50~precise1-Ubuntu x86_64) and Plex HT client running on Windows 8.1 (1.0.7.169-303ab8cc). The scrobbler shows no activity at all.

I saved the PMS log to: http://pastebin.com/Eq4m6ZeJ

plugin log:

2014-01-24 00:29:45,731 (7fe7ad835700) :  INFO (core:336) - Starting framework core - Version: 2.3.14, Build: da72f40 (Sat Dec 28

[2014-01-24 12:21] larghio opened #104 "0.8.0.2-beta does not pull watched status from trakt.tv site"
trying to use the software to sync watched status between my main library (xbmc) and my plex library.
when marking a tv episode watched in the plex library. It is marked as watched on trakt.tv after syncronisation. when marking it watched on trakt.tv, or if xbmc scrobbles it watched. It will not be marked watched in the plex library. even with manual syncronization or with "pull from trakt"
don`t

[2014-01-25 03:02] #103 closed, assigned to nobody

[2014-01-25 10:23] #101 closed, assigned to nobody

[2014-01-25 11:52] #104 closed, assigned to nobody

[2014-01-25 12:54] #102 closed, assigned to nobody

[2014-02-03 04:08] fuzeman opened #105 "Multi-part episode scrobbling"
With files that contain multiple episodes ('S01E01-02', etc..) identity and scrobble these separately to trakt.

This will probably require the use of https://github.com/fuzeman/Caper (or similar) as Plex can't identify these episodes very well..

[2014-02-08 06:02] Dezeption opened #106 "PLEX with Trakt Scrobbler not working over PS3 DLNA after update"
Title says it all really. Since updating it stoped working. Still works through all my Samsung gear.

[2014-02-13 02:48] eknee opened #107 "Server Request Timeout with Trakt"
Keep getting timeout issues when trakt is trying to connect to my server.  I modified the media_server.py file so that it uses my internal IP address to access my server since the host name doesn't work for some reason.  I still see a timeout though every time it try's to connect.

Using the following metadata from Plex:
Movies:  The Movie Database, MoviePosterDB, Freebase
TV Show:  TVDB

From my

[2014-02-13 04:42] #107 closed, assigned to nobody

[2014-02-15 01:31] fuzeman opened #108 "Communication fails if hosts file is missing/broken"
We should switch to communicating with the server via "127.0.0.1" instead of "localhost", this will resolve any possible DNS issues breaking communication.

[2014-02-16 12:44] #72 closed, assigned to fuzeman

[2014-02-17 08:25] #108 closed, assigned to nobody

[2014-02-18 14:01] andrew-hill opened #109 "High CPU while watching"
I guess I'm expecting the scrobbler to be sleeping between updates, but I'm seeing 10-20% CPU usage while watching videos.

This is on a Netgear ReadyNAS 4 Pro, so not the most powerful CPU, but it's still a lot of CPU usage for scrobbling (and taking away from my transcoding).

output from `top`:

[code]

That python process being:

[code]

I'm wondering if
a) the scribbler is actually spinning/b

[2014-02-19 11:21] #100 closed, assigned to fuzeman

[2014-02-25 23:50] gotson opened #111 "Add feature to create Plex collections from Trakt lists"
It would be awesome to have the plugin automatically create/sync Plex collections from Trakt liked lists.
For example if on trakt i liked the list _Indiana Jones Collection_ (http://trakt.tv/lists/tmdb/indiana-jones-collection), that would create a collection inside Plex with the same name, containing movies that i have on my Plex media center.

[2014-02-27 00:58] fuzeman opened #112 "Create beta channel on UnSupported AppStore"

[2014-02-27 02:29] #112 closed, assigned to nobody

[2014-02-27 07:51] #82 closed, assigned to nobody

[2014-02-27 07:53] fuzeman opened #113 "Fix "force legacy" option in beta"
Enabling "force legacy" on the beta actually ends up with both scrobblers running when using a client that supports timeline notifications.

[2014-02-28 01:52] #113 closed, assigned to nobody

[2014-02-28 10:04] #105 closed, assigned to nobody

[2014-03-03 13:19] fuzeman opened #114 "Move trakt api wrapper to a separate library"

[2014-03-03 13:19] fuzeman opened #115 "Move plex api wrapper to a separate library"

[2014-03-12 02:22] #89 closed, assigned to fuzeman

[2014-03-13 00:09] #106 closed, assigned to nobody

[2014-03-13 00:11] #27 closed, assigned to nobody

[2014-03-16 23:43] xuko opened #116 "scrobbling not working in linux"
I've configured it to scrobble with my trakt account, but it never do it.
I've tried to sync manually and it works, but scrobbling don´t.

Thanks

[2014-03-17 13:14] toddgrotenhuis opened #117 "Ratings Breaking"
I haven't found the source of the issue, yet, but I've had failed syncs, lately. When I look at the log, I see a message like this:

---

2014-03-17 08:25:29,153 (10d14d000) :  CRITICAL (runtime:883) - Exception (most recent call last):
  File "/Users/tjg/Library/Application Support/Plex Media Server/Plug-ins/Framework.bundle/Contents/Resources/Versions/2/Python/Framework/components/runtime.py", l

[2014-03-19 06:56] fuzeman opened #118 "Option to manually select activity method"
Currently you can force the legacy/logging method, but there should be an option added to force the PlexPass/WebSocket method, this would allow users to save system resources and keep the "debugging" mode disabled.

This can be added in as a replacement to the "force legacy" option, by having a drop-down option with: "Automatic", "Legacy" and "PlexPass". This will need a migration task so people u

[2014-03-21 13:21] fuzeman opened #119 "Support for IMDB identifiers in metadata"
When IMDB identifiers are in XBMC nfo files they are used as GUIDs, these IMDB identifiers end up being assumed are TVDB identifiers in the plugin causing failures to media matching.

We should identify these with the 'tt' prefix and implement IMDB identifier matching to support this metadata.

[2014-03-21 13:22] #118 closed, assigned to nobody

[2014-03-22 06:50] SathyaBhat opened #120 "Syncronization fails"
PMS Version: 0.9.9.7.429-f80a8d6 (Windows 8.1)
Client: Plex Home Theater (Windows 8.1)
Scrobbler version: 0.8.1.1-master

If I click on sync, it starts &  after a short while the status says failed.

The log file is available [here](http://paste.ubuntu.com/7134512/)

I've seen the same problem in the develop branch version as well

[2014-03-22 10:38] #119 closed, assigned to nobody

[2014-03-23 04:24] SathyaBhat opened #121 "Scrobbling is unreliable"
PMS Version: 0.9.9.7.429-f80a8d6 (Windows 8.1)
Client: Plex Home Theater (Windows 8.1) / sometimes PlexWeb
Scrobbler version: 0.8.1.1-master

Scrobbling is bit of a hit and miss. It mostly work works, but sometimes doesn't. I've not been able to exactly replicate when it fails, but this is the latest:

Watched 2 episodes of the same series one after another. First episode was scrobbled, second was

[2014-03-24 02:47] #120 closed, assigned to nobody

[2014-03-24 02:48] #117 closed, assigned to nobody

[2014-03-24 02:58] #84 closed, assigned to fuzeman

[2014-03-25 11:18] fuzeman opened #122 "Options to customize which syncing tasks run"
Replace "Sync - Watched", "Sync - Ratings", etc... options with drop-downs to choose between "Pull & Push" or just "Pull", "Push", this will give more choice to users over how syncing works.

[2014-03-25 11:24] fuzeman opened #123 "Option to adjust how rating conflict resolution works"
Option to adjust rating conflict resolution to always resolve with trakt ratings, this option could be useful for users that want to ensure their trakt ratings are always used.

[2014-03-25 14:27] Pipen opened #124 "Authentication failed"
Hi,

I've tried to login to trakt using this plugin. I can sign in on the trakt homepage with my credentials without problem. When I enter the user name and password on the plex media center nothing happens. I noticed that the values were not saved so I entered them manually in the XML file. But it still says Error: Authentication Failed above the "Sync" option. I don't have any strange chars in m

[2014-03-25 14:28] #124 closed, assigned to nobody

[2014-03-25 20:17] WaxBasher opened #125 "Infinite loop"
Just installed this plex addon and got everything set up. I tested it with one directory of TV shows and it worked great. I added another directory of TV shows though, and it seems to be caught in an infinite loop, it has been doing this for 12+ hours now. This directory has some foreign television shows with Asian characters and they are not registered with thetvdb, so perhaps that is contributin

[2014-03-26 01:25] todd2982 opened #126 "Feature request - Filter collections to include/ignore"
I would like to see a feature added to this plugin to filter which collections to scrobble.

[2014-03-27 04:32] fuzeman opened #127 "Option to change scrobble percentage"

[2014-04-01 02:16] #126 closed, assigned to nobody

[2014-04-01 12:41] blsmit5728 opened #128 "Not Scrobbling when using Chromecast"
Whenever I play something via Cast from the Plex App (Which plays from my Server running the scrobbler) the watching status never gets updated and nothing gets scrobbled. I can play the video on the iPad or iPhone and it will scrobble.

I am on version:  0.8.1.2-develop
Logs created using tail and tee, started right before video was cast to chromecast.
PMS log: http://pastebin.com/v0eSkzZe
Trakt L

[2014-04-03 01:56] #127 closed, assigned to nobody

[2014-04-03 02:29] #76 closed, assigned to fuzeman

[2014-04-03 22:42] #122 closed, assigned to nobody

[2014-04-03 23:38] #123 closed, assigned to nobody

[2014-04-05 16:56] paulinacio1991 opened #129 "Trakt.tv not Scobbling when using Plex Channel Addons "1channel""
I'm unable to get Trakt.tv to work when using Video Channels such as 1channel, Icefilms, etc.
 I tested it on Tv shows and Movies I have stored on my Laptop and it works fine.. I can't watch all my tv/movies from my Laptop since I just don't have the storage for it so I use 1channel etc. Any help to get it to work would be great, thanks.

[2014-04-18 08:29] Squet opened #130 "Authentication failed"
I can sign in to the trakt website no problems, but when I try to put my username and password in the plugin it says "Error: Authentication failed" above Sync and About, and then when I press Sync it says "Syncing task already running, unable to start".
Username and password is correct in the preferences file.

[2014-04-22 03:03] fuzeman opened #131 "DLNA duplicate scrobbling"

[2014-04-22 08:31] #131 closed, assigned to nobody

[2014-04-22 08:31] #114 closed, assigned to nobody

[2014-04-27 20:18] Amandysha opened #132 "Trakt Channel disappears from my Plex Media Server"
Trakt Channel disappears from my Plex Media Server. I've tried everything, I have the stable version of Trakt and Plex Windows version 0.9.9.7.429

[2014-05-13 03:34] Boomwav opened #133 "Authentication failed, username or password is incorrect (trakt returned: invalid API key)"
I have a weird error. Authentication seemed to work at first and it sinced my movies but now, it always fail. Checking the logs, I see that the error seem to be an invalid API key. Did I miss something on my end?

[2014-05-14 03:27] #133 closed, assigned to nobody

[2014-05-14 03:29] #116 closed, assigned to nobody

[2014-05-14 03:30] #128 closed, assigned to nobody

[2014-05-15 10:29] liiight opened #134 "Feature request: Enable setting different scrobbling percentage for different content type"
It would be great if you could assign different scrobbling threshold percentages for different content type.
The motivation: Since movies have long credits at the end of them, and TV shows do not, it would be preferable to scrobble TV shows as watched at a higher watched percentage than movies.

Thanks in advance!

[2014-05-27 02:41] BrutuZ opened #135 "IP as scrobble filter"
User based control is great (apart from the need of a PlexPass), but perhaps having a whitelist of IPs allowed to scrobble (similar to Plex's "List of networks that are allowed without auth") as an additional/alternative filter would be a good option.

In a private network that has no need for multiple users (or even support them at all like the current LG beta client), filtering the device's IP i

[2014-06-18 00:38] #135 closed, assigned to nobody

[2014-06-18 00:41] #78 closed, assigned to fuzeman

[2014-06-19 20:11] tomvanoppens opened #136 "other users viewing shared content marks it as scrobbled"
When another users to whom you have shared some content watches that piece of media it gets reported as scrobbled. I think this should not be the case since your trakt account is personal.

[2014-06-19 20:18] #136 closed, assigned to nobody

[2014-06-24 04:32] fuzeman opened #137 "Support for Python 2.5 (PMS v0.9.8.6)"
Ensuring the plugin works on Python 2.5 will continue support for users of PMS v0.9.8.6 (32-bit systems).

The [trakt.py](https://github.com/fuzeman/trakt.py) library will need fallback support to ```urllib2``` added (as ```requests``` has no Python 2.5 support) and we need to make sure [plex.py](https://github.com/fuzeman/plex.py) has the same functionality when ready.

[2014-07-06 10:43] fuzeman opened #138 ""Watched" conflict resolution"
https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-14#entry673524

[2014-07-09 10:01] andyblac opened #139 "syncing always fails"
here is the crash log.

2014-07-09 10:59:17,566 (-b40d490) :  WARNING (logger:18) - [core.task] Exception raised in triggered function <bound method Show.run of <push.Show object at 0x8b6112c>> (<type 'exceptions.ValueError'>) Request doesn't match data requirements (('title', 'year'), 'imdb_id', 'tvdb_id'), one group of parameters is required.: Traceback (most recent call last):
  File "/volume1/

[2014-07-11 05:09] fuzeman opened #140 "Inverted filters"
Implement the ability to filter out specific users/clients/ip addresses, instead of defining just the users that are allowed to scrobble.

This could look something like (with `-` indicating invert):

[code]

[2014-07-24 04:19] #140 closed, assigned to nobody

[2014-07-27 08:28] OmgImAlexis opened #141 "Sync collection?"
Unless I'm missing something, it looks like this only syncs watched states.
I'd be nice if it updated your trakt collection as well.

[2014-07-27 11:18] #141 closed, assigned to nobody

[2014-08-04 11:54] #139 closed, assigned to nobody

[2014-08-13 17:56] imadunatic opened #142 "Scrobbling Multiple Instances"
Hello,

I'm not sure if this is an xbox/plex settings issue or if I'm really having a problem, but I'm getting multiple scrobbles while watching items on my xbox:

![capture](https://cloud.githubusercontent.com/assets/7814913/3909858/6bb36c40-2312-11e4-8816-f732b0ede028.JPG)

I have my scrobble percentage set to 80, is this possibly a bug with Plex, XBOX and DLNA timeline reporting? The Seinfeld a

[2014-08-15 19:28] depraved22 opened #143 "High Memory Consumption"
Just trying to figure out if this has always been there or is something new.

I'm running Ubuntu 14.04 and have noticed the memory consumption is rather have for the plugin process:

http://www.imagebam.com/image/58b7c9345344293

I tried restarting the process and saw it went back down, yet it's continually climbing back up. In my screenshot, that was running for about a week and was at almost 600

[2014-08-26 02:21] fuzeman opened #144 "Performance improvements"
I'm currently working on some improvements to lower CPU usage (the "Logging" activity mode) and memory usage when syncing.

I've merged relevant issues into here to keep everyone updated, a beta will probably be released to find (and fix) any critical issues before we push a "stable" release out to everyone.

[2014-08-26 02:22] #92 closed, assigned to nobody

[2014-08-26 02:22] #109 closed, assigned to nobody

[2014-08-26 02:23] #143 closed, assigned to nobody

[2014-08-26 02:25] #125 closed, assigned to nobody

[2014-09-19 04:01] #115 closed, assigned to nobody

[2014-09-22 07:50] stefantalen opened #145 "Scrobbling fails for multi-episode files"
Yesterday I was watching The Office S03E12 and E13, this was a single file named "The Office S03E12-E13.mkv"

When I checked trakt today I noticed only E13 was scrobbled, I think the scrobbler failed scrobbling E12 because it didn't hit the 80% watched mark.

My theory is that the scrobbler updated my watching status when I was below 80% of the episode, but when it checked the watch status again P

[2014-10-13 16:58] cusquinho opened #146 "Properly sync the watched list"
I have a big list of tv shows (something close to 100), and I've been trying to make sure all that are set as watched on trakt.tv goes to Plex. I've been trying for a couple days with no success, maybe someone here can help.. (the logs doesn't say much, but I can also share).

I've tried both latest release, and latest beta of this plugin (haven't try dev version yet, but I can...). What happens i

[2014-10-20 01:14] #144 closed, assigned to nobody

[2014-10-21 22:08] facted opened #147 "Trakt "failed" and caught in stopped loop"
This is the log file for my trakt sync. It works sometimes, but other times it gets "stuck" in a failed mode where it no longer attempts to sync and appears as though it's working in the background but never is. It also cannot be cancelled. I have to restart plex to get out of it.

Windows 7 x64 system.

2014-10-18 08:56:05,676 (ae0) :  INFO (logkit:16) - [requests.packages.urllib3.connectionpool]

[2014-11-12 17:23] daften opened #148 "Sync watched from trakt.tv doesn't work properly for multi-episode files"
For my shows at first I like to sync the watched status from trakt to plex. It does this pretty good, but one hiccup I've clearly identified is that for 2 episodes with one file (So S01E16E17 e.g.), only the second episode is marked as watched.

[2014-11-13 20:52] daften opened #149 "Plugin doesn't scrobble correctly"
E.g. atm the playing status isn't reported for an episode I'm watching. I've enabled debugging and the last statement is
Nov 13, 2014 21:47:49 [0x10b4b0000] DEBUG - [com.plexapp.plugins.trakttv] HTTP reply status 200, with 2242 bytes of content.

[2014-11-21 19:12] Benni-chan opened #150 "not working with new Plex Home feature"
using the new Plex Home feature, Trakt isn't working anymore.

[code]

it is caused, because plex now only allows api access when a user is logged in. and apparently even channels installed on the server don't have access permission.

using the channels own http function, connection to the api seems to work. but the trakt channel uses urllib2 for requests to the api

[2014-11-27 00:17] #150 closed, assigned to nobody

[2014-12-01 02:06] #149 closed, assigned to nobody

[2014-12-01 02:09] #146 closed, assigned to nobody

[2014-12-01 02:16] #134 closed, assigned to nobody

[2014-12-01 02:22] #121 closed, assigned to nobody

[2014-12-01 02:23] #79 closed, assigned to fuzeman

[2014-12-01 02:23] #57 closed, assigned to fuzeman

[2014-12-01 02:23] #73 closed, assigned to fuzeman

[2014-12-01 02:34] #138 closed, assigned to nobody

[2014-12-17 11:29] spacecowboy opened #151 "Exception thrown during sync"
When selecting *pull from Trakt*, a `JSONDecodeError`is thrown (see log below).

Running:
Trakt-plugin from Unsupported App Store (installed today)
Debian Jessie
Python 2.7.8
PMS 0.9.11.4

[code]

[2014-12-23 12:48] jimeh opened #152 "Memory Leak?"
After running Plex with this plugin for about 2 weeks, the plugin process was using 2GB of physical memory (24% of 8GB). After restarting Plex it's only using 0.6%.

Sorry I don't have any more details for now, but I'll be keeping an eye on how it behaves over the coming days/weeks.

[2014-12-29 21:53] pixibuex opened #153 "Trakt 2.0"
Seems the scrobbler is not compatible with Trakt 2.0. Any news?

[2014-12-31 17:28] L0bit0 opened #154 "Unable to login from plex with google account"
I just have created an account on trakt with my google account. I can access on the web, but I was not able to do on plex. I have tried with user and email.

I created a new account (regular account directly on trakt) and I can login on plex with it.

There is any specific way to use google accounts from plex?

thanks

[2015-01-01 10:27] SourSkittles commented on #153
any info on when the next update to this is going to happen? scrobbling barely works it seems as of right now, as I've watched stuff for the past few days and it doesn't scrobble a single one of them, I pretty much have to go and manually mark them now...

[2015-01-01 10:33] L0bit0 commented on #154
I do not understand, i can not reset my password on trakt since i am using google account, i do not see this option on trakt profile settings. Can you give me detailed steps?

Thanks for your help.

[2015-01-01 13:55] mrfacu87 commented on #153
I have been having issues since the upgrade to v2 as well. Yesterday, I upgraded the Trakt plugin to version 0.9.0.4-beta and restarted the PMS. After that, scrobbling seems to be working fine for me. There are several shows that did not scrobble during the down time, I will wait for the sync feature on the next update and see if they sync, which according to fuzeman should be any time soon :D

[2015-01-01 15:59] rectifyer commented on #154
For now, try logging out then on the sign in form, click the "forgot" link to. Type in your email there.

On Thu, Jan 1, 2015 at 2:34 AM, L0bit0 <notifications@github.com> wrote:

[2015-01-01 17:11] BrutuZ commented on #153
Hopefully the updated version will make use of the [watched_at](http://docs.trakt.apiary.io/reference/sync/add-to-history) metadata when syncing to mark the items at their proper watch dates instead of marking them all as watched at the time the sync occurred.
Plex makes this information available as the **lastViewedAt** parameter under the item's *MediaContainer\Video* metadata in [Epoch](http://

[2015-01-01 19:28] shadone opened #155 "Exception with non-ASCII characters in library names"
Here is the exception from the logs:
[code]

[2015-01-01 19:32] shadone opened #156 "Exception when pushing to trakt"
I set a filter to only push one plex library (due to #155), however I got another exception, possibly also related to non-ascii characters in media items names:
[code]

[2015-01-01 19:54] matrixagent commented on #153
What @BrutuZ writes is exactly what I'm hoping for, I've actually disabled all syncing etc. in the plugin and am planning to only re-enable it once the plugin is making use of these features so I'm getting clean data into trakt.

[2015-01-01 22:17] dewey commented on #153
I second these last two comments. I disabled it and I'd love to see the accurate data return.

[2015-01-01 23:29] intel352 commented on #151
@fuzeman, I'm still experiencing this issue. Is trakt scrobble working for others? Just wondering if something in my setup rather than assuming a trakt server issue...

[2015-01-02 20:08] h0bd0b1in commented on #151
I'm experiencing the issue too, and I've trashed all related files a number of times just to check. Must be the servers.

[2015-01-03 00:21] fuzeman commented on #153
**v0.9.1.1-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-23#entry810730 *(this release sends "watched_at" and "collected_at" parameters when syncing with trakt)*.

Known issues:
 - Syncing can fail as a result of a 504 error returned from the trakt API
 - Some shows are missing seasons/episodes or have invalid data on trakt *(this problem is being worked on

[2015-01-03 00:29] fuzeman commented on #151
v0.9.1.1 is available now: https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=810730

Please post updated logs if you are still experiencing issues with scrobbling.

[2015-01-03 04:18] sofianeh commented on #153
Is the use of OAuth planned? I can't find it within 0.9.1.1-beta release

[2015-01-03 06:37] fuzeman commented on #153
@sofianeh it isn't really possible to use OAuth in a Plex plugin (no web browser access), permission was granted to authenticate with a username + password instead.

[2015-01-03 13:06] daften commented on #153
You only need the web browser the first time though, so why wouldn't it be possible, if you set it up via the web interface?

[2015-01-03 17:10] sofianeh commented on #153
I totally agree with @daften

[2015-01-03 19:19] BrutuZ commented on #153
Using the beta seems most of the scrobbles were updated just fine. It did scrobble 2 episodes to the time of sync, and I haven't even watched one of them yet (it hasn't aired).

I got some errors on the log, it was going fine with HTTP requests returning 200 as they should until
[code]

[2015-01-03 20:55] intel352 commented on #151
@fuzeman, awesome, that worked, thanks for the 2.0 update :-)

[2015-01-04 10:24] fuzeman commented on #153
**v0.9.1.2-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-23#entry812374, this fixes a number of bugs that have been reported recently.

------------------

@daften I'm guessing by "web interface" you are talking about Plex/Web - The plugin still has no ability to redirect the user to a URL, this includes when the channel is being used via Plex/Web.

To avoi

[2015-01-04 10:29] fuzeman commented on #156
Try updating to the latest beta release (which supports trakt 2.0): https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-23#entry812374

[2015-01-04 10:29] #156 closed

[2015-01-04 10:32] fuzeman commented on #155
I'll try look into this issue sometime this week.

[2015-01-04 10:34] #151 closed

[2015-01-04 10:34] #147 closed

[2015-01-04 13:21] scottrobertson commented on #153
Running latest beta, all syncs are failing for me too. Have Trakt removed the ability for clients to use Username/Password, or is it still there?

[2015-01-04 15:18] mchiareli commented on #153
I can't sync with the new beta version too. Where can I find the log files on mac os?

[2015-01-04 15:19] scottrobertson commented on #153
@mchiareli `/Library/Application Support/Plex Media Server/Logs/PMS Plugin Logs` i imagine.

[2015-01-04 19:07] ppgb commented on #153
Strange thing happened. I watched a movie on Plex from beginning to end, and it got scrobbled 4 times - it appeared 4 times on top of my trakt watch history!!

[2015-01-04 19:42] shadone commented on #156
That fixed that issue, thanks!

(plex-trakt sync still fails though, this time due to missing authentication token it seems - https://gist.github.com/shadone/c52af191a614b708cc58 - I have username/password provided in the plugin settings)

[2015-01-04 22:01] intel352 commented on #151
@fuzeman, I'm not home, so I can't check the logs, but I'm seeing all trakt activities fail (sync, push, pull, etc). Dunno how long it's been failing. It definitely successfully pushed, after I upgraded to the beta you noted in this thread, but I hadn't checked the status again until just now, for which everything shows failed, and re-running manually fails.

[2015-01-04 22:08] szafran81 commented on #148
Same here. Only 2nd episode of each double episode file is marked as watched.

[2015-01-05 00:48] fuzeman commented on #153
@scottrobertson username/password authentication is still available.

With the API servers having problems lately, it's possible authentication might of failed when the plugin tried to start up. Try restarting Plex Media Server (so the plugin restarts) and send the full ```com.plexapp.plugins.trakttv.log``` file if the error is still happening.

----------------------

@ppgb which client were you

[2015-01-05 01:07] fuzeman opened #157 "Unable to sync/scrobble (401, 502, 504 errors)"
**Unknown - "Unknown" (code: 502 or 504)**
This error likely indicates trakt.tv API server problems, no "fix" is available for the plugin. We will just need to wait until these problems have been resolved.

**Unauthorized - "OAuth must be provided" (code: 401)**
I'm unsure exactly what is causing this issue, it is either:
 - The plugin hasn't been able to authenticate properly (try restarting Plex

[2015-01-05 01:07] fuzeman commented on #156
That 401 error was reported here as well: https://github.com/trakt/Plex-Trakt-Scrobbler/issues/153#issuecomment-68632688

I've opened a new issue here https://github.com/trakt/Plex-Trakt-Scrobbler/issues/157 to track this specific problem.

[2015-01-05 01:11] fuzeman commented on #151
@intel352 possibly related to https://github.com/trakt/Plex-Trakt-Scrobbler/issues/157, I'm unable to sync currently as well.

[2015-01-05 01:18] scottrobertson commented on #157
Hey @fuzeman, just following up from the issue in #153. I have restarted, here is a full log:

https://gist.github.com/scottrobertson/160ae99caaa5a6b72460

[2015-01-05 04:19] SourSkittles commented on #153
same thing that happened to ppgb happened to me as well while watching a tv show, but instead of scrobbling 4 times it only scrobbled it twice.

http://pastebin.com/FyiszHy8

[2015-01-05 05:36] ppgb commented on #153
@Dean, client was PHT, latest version on Windows 7. PMS is latest version on a Synology NAS.

[2015-01-05 12:28] L0bit0 commented on #154
Thanks, it worked.

Now I have an eror on sync, but i will create a new post for this.

thanks

[2015-01-05 12:28] #154 closed

[2015-01-05 12:57] L0bit0 opened #158 "Error syncing from plex"
Hi

i Just have installed trackt on my plex library. After some login issues, I was able to connect and i am trying to sync, but i can not sync. i got this error:
"Last run 6 seconds ago,taking 6 seconds, failed."

Anyway, i can see what i watching lively on trackt page, so i assume connection between plex and trackt is ok.

Just to confirm, sync, should send all information about watched TV shows

[2015-01-05 13:15] scottrobertson commented on #158
Duplicate of #157?

[2015-01-05 15:43] patricklewis commented on #130
Same problem here:

* Linux Plex Media Server 0.9.11.7

[2015-01-06 09:53] tomasswood commented on #157
I have this issue as well. I couldn't find my logs, but here is my request body:

https://gist.github.com/e8eb82847f1c90e98250.git

[2015-01-06 19:05] dean commented on #153
@pggb - I think you pinged the wrong person. :)

[2015-01-06 19:28] ppgb commented on #153
Yes, I meant @fuzeman (Dean Gardiner) client was PHT, latest version on Windows 7. PMS is latest version on a Synology NAS.

[2015-01-06 19:38] PGGB commented on #153
@dean I think you pinged the wrong person too.

[2015-01-07 04:56] fuzeman commented on #153
Haha, maybe GitHub should display a warning when you mention someone outside the current conversation/repository :smile:

-----------------------

Anyway, I've finally managed to reproduce the multi-scrobble issue, will have a hotfix released later today.

[2015-01-07 11:01] StErMi commented on #157
I think that Trakt has made some huge changes in the latest days with Trakt 2.0 and now they are full of bugs and problems.

For istance, I cannot create a custom list on the site anymore...

[2015-01-07 11:24] scottrobertson commented on #157
Lists are coming back soon, very few people used them so they didn't want to slow v2 down by waiting on them.

[2015-01-07 11:27] StErMi commented on #157
@scottrobertson I'm using them for FlexGet ;)

[2015-01-07 11:30] scottrobertson commented on #157
Just use Sonarr, no need for any of that :p

[2015-01-07 11:42] StErMi commented on #157
Mmm cool, what's the main differences?

[2015-01-07 18:43] reokue commented on #158
I had the same issue last night and I managed to fix it.

Change your username in the plugin from your username to the email associated with the  account.

[2015-01-07 18:50] reokue commented on #130
I changed my credentials to use the email associated with my account instead of the username and that fixed the error for me.

This is on a Synology running Plex Media Server 9.11.5 with Plex-Trakt-Scrobbler 0.9.1.2-beta.

[2015-01-07 19:07] scottrobertson commented on #130
Changed to using email, worked. But like @patricklewis said, this could have just been because they changed something on their end.

[2015-01-07 20:02] facted commented on #158
I'm having the same issue with beta 9.1.2. Full log here: http://pastebin.com/8mQN2Ruk

I've tried changing username to e-mail  but it didn't work for me.

[2015-01-08 00:20] SourSkittles commented on #153
@fuzeman any word on the fix? I just had this happen to me again after it not happening for several days but this time it scrobbled the show I was watching 18 times.

http://pastebin.com/Rmz49QC3

[2015-01-08 09:07] L0bit0 commented on #158
Hi

I have added the eMail and told me invalid credentials.

Scott, not sure if is exactly the same issue you are referring to. anyway i have reviewed and i can not find a clear solution, please, can you clarify what do you thing the issue is and how to fix it?

thanks

[2015-01-08 09:16] fuzeman commented on #153
**v0.9.1.3-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-25#entry816952, this should fix the duplicate/multiple scrobbles.

Please post your logs if you continue to find it scrobbling multiple times.

-------------

*There is a chance syncing could be causing duplication - will be looking into this closer over the next few days.*

[2015-01-08 09:31] fuzeman commented on #158
It's hard to really identify the specific cause of syncing to fail without the log files..

https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files should give you some idea of where they are located.

-------------------

@facted I'll look into that error tomorrow.

[2015-01-08 11:46] NotExpectYet commented on #158
I have exactly the same issue as this. Everytime I try to sync it fails after about a second. Has been working perfectly fine before this, well it has still be scrobbling but collections uploading is intermittent, it misses some. Then as said, manual sync fails everytime. Tried as been suggest above, replacing user name with email.

My Log is here: https://drive.google.com/file/d/0B_FS3AeOwrCxVnQ4

[2015-01-08 15:41] BrutuZ commented on #153
When syncing, the watched_at time is offset. Something between 6 and 8 hours for me.
I watched the media at **1420684463** epoch according to Plex, which translates to 02:34 GMT (00:34 on my local time), that's correct, however Trakt is displaying it as watched at 08:34.
I changed the Trakt site settings to my Time Zone, but at GMT -02:00 (DST), 08:34 is simply not possible.

I'm not sure if this

[2015-01-08 15:45] scottrobertson commented on #153
@BrutuZ the times dont seem to change on trakt.tv when you change the timestamp, i beleive it's an issue on their end. I think the scrobbler sends it in UTC.

[2015-01-08 18:34] BrutuZ commented on #153
@scottrobertson My thoughts exactly, just thought it was worth mentioning. (so much thinking...)
We are using the beta branch to have it working so I'm not complaining, just pointing out a bug that is probably on their end, but maybe is worth a look just to be sure of that.

Trakt is quite bumpy after the transition, it almost feels like the Last.fm make-over years ago, except the changes are way

[2015-01-08 21:01] L0bit0 commented on #158
My logs here: https://app.box.com/s/kc9vy91jlfkvbh0vzhxn

Thanks

[2015-01-08 22:10] pieter-jangoeman opened #159 "plex: error: authentication failed"
when I try to connect trakt with my plex in the home theater, I always get the error: authentication failed above sync, about en preferences.
also, it looks  like the preferences don't remember my username and password.
tried to install again, didn't work.
anyone who can help me?

[2015-01-08 22:11] scottrobertson commented on #159
Please look at the latest issues before submitting a new one: https://github.com/trakt/Plex-Trakt-Scrobbler/issues/157

[2015-01-08 22:13] pieter-jangoeman commented on #159
thanks man, didn't see that one there!

[2015-01-09 00:01] fuzeman commented on #159
Are you trying to setup the plugin via Plex Home Theater? there has been an issue with plugin configuration in PHT for a long time (#71), so you can try configure from http://plex.tv/web instead.

[2015-01-09 00:13] fuzeman commented on #158
@NotExpectYet @L0bit0 syncing would probably be more reliable with the latest beta version (https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-25#entry816952).

There still seems to be a number of issues with trakt.tv servers, this can cause syncing to fail as well (will just need to wait for the server issues to be resolved).

[2015-01-09 00:54] facted commented on #158
I'm on the latest beta and still have the issues i reported above, log is
included in my previous post.

On Thu, Jan 8, 2015, 7:13 PM Dean Gardiner <notifications@github.com> wrote:

[2015-01-09 18:30] facted commented on #158
I have the same issue as before on beta .9.1.5 . Log here: http://pastebin.com/R1z2qBhX

Perhaps I just need to somehow reset trakt, the database, etc...Is there anyway to do that? I've deleted the trakt plugin folder but it's clear the data isn't in there since I don't even have to re-enter my username/password for trakt.

[2015-01-09 20:36] scottrobertson commented on #153
@BrutuZ trakt seems to be reporting the times correctly now. @fuzeman did you change anything, or was it trakt?

[2015-01-09 22:36] L0bit0 commented on #158
issue fixed with the beta on my side.

Thanks for your help.

[2015-01-09 22:37] SourSkittles commented on #153
@fuzeman well it was scrobbling most of the day, but idk why it just kinda stopped scrobbling all together it seems and I have to either play the video twice (second time near the end of the video) to get it to scrobble or I have to go and manually mark my shows...

This little problem has been a ongoing issue even before the 2.0 upgrade to trakt so I really dunno what the issue is :/ where someti

[2015-01-09 22:57] BrutuZ commented on #153
Didn't have the same luck as @scottrobertson . Just watched something and it scrobbled 8 hours in the future :laughing:

If it is of any help for @fuzeman or anyone else, either on a fix or just insight on why this happens, I made the [log](http://pastebin.com/VN0i31rb) and a [screenshot](http://imgur.com/x4IUPV3) showing the discrepancies available.

[2015-01-10 00:22] fuzeman commented on #158
@facted looks like the "fix" wasn't quite right, will have another update available shortly.

The issue is a result of a (partly) corrupted backup file, the fix was designed to see this problem and handle it properly - instead of throwing an exception (and causing the sync to fail). *(note: this has nothing to do with your trakt.tv account)*

The likely cause of the 401 error (when you changed tra

[2015-01-10 01:00] fuzeman commented on #158
@facted, try out the development version: https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip

[2015-01-10 01:08] facted commented on #158
Works like a charm. Thanks so much!

[2015-01-10 02:30] fuzeman opened #160 "Unable to scrobble (users without PlexPass)"
In the 0.9.* update the method of retrieving watching activity was changed, this means some operating systems need support specifically added.

Currently, the following operating systems are known to be supported:
 - Darwin / OS X
 - Linux
    - Ubuntu 12.04
 - Windows
   - XP (?)
   - 7
   - 8

-----------------------------------------
**Operating system not supported?**

1 - In a terminal/shell,

[2015-01-10 02:39] fuzeman commented on #158
Glad that worked, will have those fixes included in a beta release later today.

[2015-01-10 09:17] fuzeman commented on #153
**v0.9.1.6-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-27#entry818966, this release fixes another cause of scrobble duplication and an issue in syncing which caused timestamps to be offset on trakt.tv (as mentioned above).

[2015-01-10 09:23] fuzeman commented on #155
This should be fixed in **v0.9.1.6-beta**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-27#entry818966

Please let me know if you are still seeing this issue.

[2015-01-10 09:23] #155 closed

[2015-01-10 09:24] #158 closed

[2015-01-10 09:25] fuzeman commented on #158
Fixes are now released in **v0.9.1.6-beta**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-27#entry818966

[2015-01-10 09:28] fuzeman commented on #157
I've found the plugin wasn't re-authenticating correctly if you changed your username, this caused a 401 error on any requests.

**v0.9.1.6** (https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-27#entry818966) has a fix for this if anyone still has this error code coming up.

[2015-01-10 09:50] udochrist opened #161 "Enhancement: Filters using regular Expressions or at least usual wildcards"
Seems the comma-separated list of Filters for Sections doesn't support wildcards or any sort of regexps. The Sync button also tries to sync my Music, Music Clips collection to trakt. I've tried to use "*TV*,*Movies*" as a list of pattern, but this only matches "TV" and "Movies" and not "Docu (Movies)" or "Animation (Movies)".

Would it be possible to allow regexps or simple wildcards in the list o

[2015-01-10 09:56] shotfirer commented on #160
QNAP TS-219p (ARM)
I have two Python installation.

Python 2.5.6:
`# python -c "import platform; print (platform.system(), platform.linux_distribution())"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'module' object has no attribute 'linux_distribution'`
Python 2.7.3:
`# python2 -c "import platform; print (platform.system(), platform.linux_distribution(

[2015-01-10 12:43] shadone commented on #157
Confirming that v0.9.1.6 solves the issue for me, thanks!

[2015-01-10 12:44] shadone commented on #155
Indeed, v0.9.1.6 fixed this issue, thanks!

[2015-01-10 14:09] kuarthepirat opened #162 "Plex Home seen data not synched"
I'm using Plex Home with one PlexPass user and 3 internal Plex Home users without a myPlex Account. We mostly watch on one of these internal user accounts and the seen stats from this account are not synched to trakt at all.

[2015-01-10 20:30] SourSkittles commented on #153
running latest beta, it scrobbled one episode but after it seems to not be able to scrobble at all anymore..

http://pastebin.com/qAzFZEZM

[2015-01-10 23:36] BrutuZ commented on #160
Does that mean "Logging (Legacy)" no longer works?
I have a PlexPass but have been using the Logging method because WebSocket doesn't get some info from the LG Client (which sends HTTP requests directly to the server), specifically IP Address returns None, so I ca no longer use the IP filter.

**Plex Media Server.log**
```Jan 10, 2015 17:31:12:659 [9956] DEBUG - Request: [192.168.0.13:59990] GET /

[2015-01-10 23:42] BrutuZ commented on #153
Sync offset does seem to have been fixed. ~~However Logging (Legacy) no longer scrobbles.
The debug log keeps reading websocket events despite it not being selected and the client not using the plex.tv login (it sends HTTP requests directly to the server's LAN IP).~~

I'll take that last part to the issue already open since it has nothing to do with Trakt 2.0.

[2015-01-11 00:41] fuzeman commented on #160
@shotfirer the develop branch includes support for that system now (download: [develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), it will be included in a new beta release later today.

--------------------

@BrutuZ "Logging (Legacy)" should work if your operating system is supported, just need to provide the details listed above to get it supported.

I've just moved

[2015-01-11 02:43] fuzeman commented on #161
Music, Music Clips, etc.. (non-tv/movie sections) were not intended to be included in syncs, will make sure this is fixed in the next release.

Ability to use wildcards in filters would be a good addition, but I'm going to delay any new features until the v0.9 release has all it's bugs squashed and is released onto the stable channel (hopefully soon..).

[2015-01-11 02:45] fuzeman commented on #162
I'll need to try reproduce this to figure out what's happening, will let you know when I have more details.

[2015-01-11 03:29] fuzeman commented on #161
Can't reproduce the syncing issue on v0.9.1.6-beta, which version are you using?

[2015-01-11 03:53] fuzeman commented on #162
You should be able to enter the names of your additional users under "Filter - myPlex users" and they will be scrobbled as well.

Please note, trakt.tv has been having server issues and trying to scrobble with multiple active watch sessions might lead to some strange results.

[2015-01-11 04:23] BrutuZ commented on #160
@fuzeman  Got a look at the path hints and found out why it doesn't work even though I'm using Windows 7 64-bit. I don't use the default path at Local AppData, my Plex Data folder is in the same folder Plex itself is installed on another hard-drive.

Isn't there a way to get this value from the server settings? If not, maybe put a field within the settings dialog so that users can copy\paste it fr

[2015-01-11 04:57] fuzeman commented on #160
Hmm, I'll come up with another solution.

Would rather not add another option to the settings dialog unless it's absolutely necessary.

[2015-01-11 09:18] kuarthepirat commented on #162
I have * as "Filter - myPlex users". And scrobbling is working fine. What is not working is the data for already watched movies and ratings from the time trakt.tv and the plugin was not working.

To me it seems, the Filter is only working for myPlex users on the server. The Plex Home users don't even have a user name in the Plex DB.

[2015-01-11 16:19] BrutuZ commented on #160
Got it to parse the log by changing the function to ```lambda: os.path.realpath(os.getcwd() + '/../../../Logs/')``` but something is not right, the plugin is filtering the playback even though it is from a whitelisted IP. http://pastebin.com/qj0xejJR

[2015-01-11 18:03] shotfirer commented on #160
@fuzeman Got my scrobbling back. Cool!

[2015-01-12 04:21] fuzeman commented on #160
**v0.9.1.7-beta** is available: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-28#entry820611

@BrutuZ the "Plex Media Server.log" path is now discovered the same as past releases. I've also fixed an issue filtering Plex/Web clients (that was causing the issue you mentioned).

[2015-01-12 04:22] fuzeman commented on #153
**v0.9.1.7-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-28#entry820611

[2015-01-12 06:38] blackley opened #163 "v0.9.1.7 Beta Release bugs"
Hi fuzeman,

As mentioned on the Plex forum, i am getting duplicates and new library additions showing up as watched when they are sent to trakt - it may be a trakt site bug, however i am not sure.  Logs attached from 2 different servers.  Also when i just finished building my new server and did a pull from trakt - very little of the media titles that i know have changed was updated in my Plex lib

[2015-01-12 07:41] udochrist commented on #161
Sorry. My Bad. Wrong log file analysis. plugin uses only movie and tv sections.

i've now upgraded to 0.9.1.7-beta:

However the filtering by section name seems to not work correct for me regardless of wildcard or full name.
i have sections "Movies", "Animation (Movies)", "TV" and "Animation (TV)" plus some more like "Docu (Movies)" and "Docu (TV)"
when i put "Movies,Animation (Movies)" as the  fi

[2015-01-12 11:34] fuzeman commented on #163
Looking at the log from "server 1", there is definitely some interesting errors coming up. The link for "server 2" doesn't appear to be correct though? (it's the same as "server 1")

I've got a few ideas of what is causing this, so might have a fix ready to test sometime (late) tomorrow.

------------------------

To provide a lot more detail on the issue, could you adjust these logging options to

[2015-01-12 12:38] blackley commented on #163
G’day Dean,

Server 2 is my old server that i am about to decommission.  I will turn on the logging now and let it run overnight.  I can report that this afternoon (Western Australian time) that scrobble worked correctly - single entry added to trakt.  I will be doing some more testing this evening my time and will report back tomorrow.

Thanks for all your hard work and time on this plugin - the

[2015-01-12 18:27] SourSkittles commented on #153
@fuzeman Dunno what just happened but it scrobbled a movie I hadn't watched in weeks (since it's not even on my computer anymore but some how was stuck on plex like all my movies have been doing for some odd reason) like 11 different times saying I was watching it as well, and it seems like it tried to scrobble a game of thrones episode as well for some unknown reason as I wasn't even watching any

[2015-01-12 23:40] BrutuZ commented on #160
Working like a charm now @fuzeman

[2015-01-13 04:26] fuzeman commented on #163
Could you test out this release: https://github.com/fuzeman/Plex-Trakt-Scrobbler/archive/issue/163.zip, it includes a possible fix for the error displayed in your log files.

I'm not exactly sure how to reproduce this issue, so there might still be some other bugs that need fixing still.

[2015-01-13 06:17] blackley commented on #163
Hi Dean,

I have installed the update and run a sync everything appears to be working correctly and as expected.  I have included a copy of the current log for your review so you can see if there is anything else that pops out in the log that may need attention.

Thanks again for your speedy fix :-)

--
Cheers,

Darren Blackley
ICT Consultant

I have never let my schooling interfere with my Educat

[2015-01-13 08:02] ret50 opened #164 "v0.9.x dependencies (windows version)"
Hello fuzeman,

0.9.x doesn't work on Windows because there is (at least) a dependency on shove which is not provided with the windows version of plex's python. Could you manage a workaround ?

Thanks by advance

[2015-01-13 11:08] fuzeman commented on #164
shove is included with the plugin: https://github.com/trakt/Plex-Trakt-Scrobbler/tree/develop/Trakttv.bundle/Contents/Libraries/Shared

could you provide some more details on the issue (exception, stack trace)?

[2015-01-13 11:16] fuzeman commented on #163
That's good to hear, will have this fix included in the next beta release.

Hopefully will have v0.9 released onto stable this week as well (just fixing any final bugs that come up).

[2015-01-13 17:40] ret50 commented on #164
Sorry,

I may not have interpreted the log well. Here it is:

2015-01-13 18:38:05,874 (2798) :  INFO (core:347) - Starting framework core - Version: 2.5.0, Build: a51033b (Mon Jul 28 12:19:14 UTC 2014)
2015-01-13 18:38:05,920 (2798) :  DEBUG (core:359) - Using the elevated policy
2015-01-13 18:38:05,980 (2798) :  DEBUG (core:448) - Starting runtime component.
2015-01-13 18:38:06,028 (2798) :  DEBU

[2015-01-14 04:36] blackley commented on #163
Dean i got some more duplicate entries last night - log attached.

--
Cheers,

Darren Blackley
ICT Consultant

I have never let my schooling interfere with my Education - Mark Twain.

[2015-01-14 06:53] ret50 commented on #164
It works perfectly now. Thank you fuzeman.

[2015-01-14 06:54] fuzeman commented on #163
Can't see the attachment, you might need to upload the log file to Dropbox or email it to me directly (me@dgardiner.net).

[2015-01-14 06:56] blackley commented on #163
here you go https://www.dropbox.com/s/uetetix5fa1o62a/Trakt.logs.zip?dl=0
--
Cheers,

Darren Blackley
ICT Consultant

I have never let my schooling interfere with my Education - Mark Twain.

[2015-01-14 07:10] fuzeman commented on #163
It appears your router is possibly blocking a lot of requests?

request to trakt.tv failed:

    Unable to send action - HTTPSConnectionPool(host='api.trakt.tv', port=443): Max retries exceeded with url: /sync/history (Caused by <class 'socket.error'>: [Errno 111] Connection refused)

and the update checker requests keep failing:

    Starting new HTTP connection (1): pts.skipthe.net
    "POST /ap

[2015-01-14 07:12] blackley commented on #163
thats very strange - i have had no changes to the configuration on my router and it was working previously as far as i know.  I will investigate now.
--
Cheers,

Darren Blackley
ICT Consultant

I have never let my schooling interfere with my Education - Mark Twain.

[2015-01-14 07:34] garlandkr opened #165 "Tracktv plug-in not appearing in 0.9.11.7?"
I'm running PLEX server 0.9.11.7 on Linux, I grabbed the develop.zip and unzipped to my plug-ins folder. Restarted PLEX to be on the safe-side and it's not appearing anywhere in the channels.

[2015-01-14 07:46] blackley commented on #163
here is the latest logs - i have resolved the router issue, and I am still seeing duplicates.  Also including screenshot

https://www.dropbox.com/s/js0x6mbgwy8qux7/PMS%20Plugin%20Logs.zip?dl=0 <https://www.dropbox.com/s/js0x6mbgwy8qux7/PMS%20Plugin%20Logs.zip?dl=0> - logs
https://www.dropbox.com/s/bshciabwncd2sxk/Screen%20Shot%202015-01-14%20at%203.44.48%20pm.png?dl=0 <https://www.dropbox.com/s/bs

[2015-01-14 08:06] blackley commented on #165
Do you have the folder naming correct?  should be as follows;

$HOME/Library/Application Support/Plex Media Server/Plug-ins/trakttv.bundle

then in that folder should be a folder called Contents and a text file - readme.md

[2015-01-14 08:16] ret50 commented on #165
Hello, I had a bug just like you and fuzeman just corrected the bug tonight. Could you just retry with the last developper version ?

[2015-01-14 11:10] fuzeman commented on #163
I'm guessing you have some shows/movies duplicated (in multiple libraries)?

I've found an issue with syncing that means duplicated movies/shows will cause multiple scrobbles. I should have a fix ready tomorrow.

[2015-01-14 11:26] blackley commented on #163
Hi Dean,

yes i have been looking into that from this end - I had some anime libraries available to the kids as well as everyone else - so available from 2 locations.  I have corrected that now.
--
Cheers,

Darren Blackley
ICT Consultant

I have never let my schooling interfere with my Education - Mark Twain.

[2015-01-14 19:44] mjryan1 commented on #157
I'm not sure if what I'm getting is the same error. I've been searching through the post and trying different things that have been posted with no luck.
 basically I get invalid authentication. after sever different attempts to fix uninstalling and reinstalling the latest version beta. at on point it would tell me tried to sync 2min ago and failed 2sec something like that.

Here is my log file:
ht

[2015-01-14 23:39] fuzeman commented on #157
@mjryan1 the trakt.tv API seems to be down currently, hopefully it will come back online soon.

[2015-01-14 23:58] cvergne commented on #153
Hi !

Thanks for the dev of that plugin, but still have issues even with the beta :(
In fact, everything was working fine yesterday (only with TV shows, movies was not working), but today only "push" is working, not "pull".
I've updated my watchlist on my trakt.tv account earlier today, then my tv shows collection on plex. But push works (even if i have not whatched anything since previous working

[2015-01-15 01:16] garlandkr commented on #165
Yes, I have also put a check in the disable compatibility for plug-ins in the advanced settings located here - http://localhost:32400/web/index.html#!/settings/server

I am trying to locate the bundle on this page - http://localhost:32400/web/index.html#!/server/<some_hash>/directory

Is that the right location? I have gone into a few different locations but it is not appearing. I have also restar

[2015-01-15 03:44] fuzeman commented on #153
@cvergne the trakt API is down currently (has been down/unreliable for the last 6 - 8 hours), so syncing and scrobbling probably won't work or will be very unreliable.

I'm currently working on better error messages when syncing fails, this will help to determine where the problem is (trakt.tv or the plugin).

[2015-01-15 03:55] fuzeman commented on #165
Once the plugin installed it should be visible under:

    http://localhost:32400/web/index.html#!/server/<server_id>/channels

Send me your log files if you can't find the plugin there, they are located here on my ubuntu server:

    /var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Logs/PMS Plugin Logs/com.plexapp.plugins.trakttv.log

**Note:** if you can't find the "trakttv

[2015-01-15 07:09] Boren commented on #165
Make sure you haven't changed the default application data in plex settings.
![2015-01-15 08_08_46-plex](https://cloud.githubusercontent.com/assets/1568580/5753723/c8137efe-9c8d-11e4-9613-a1f10522c63b.png)

[2015-01-15 13:30] garlandkr commented on #165
Thanks @Boren - I just blindly followed the install docs, but actually my plex application was in /plex/ not /var/lib/plexmediaserver

Now it is working.

[2015-01-15 13:30] #165 closed

[2015-01-16 02:08] reokue opened #166 "Unrate fails to sync from trakt to plex"
Steps to recreate:
1) Rate an item on plex.
2) Let the rating sync to trakt
3) Unrate the item in trakt

Expected result: the user rating would be removed from plex

Actual result: Nothing appears to sync back to plex. The user rating is then synced back to trakt. This makes it impossible to unrate something from trakt.

Notes: You can set the user rating of an item to -1 to remove the user rating

[2015-01-16 07:40] shotfirer commented on #160
No scrobbling again. It was working in 9.1.6-dev, but with 0.9.1.7 it is not. And again, there's nothing in com.plexapps.plugin.trakttv.log when i'm watching something.

[2015-01-16 11:52] cvergne commented on #153
@fuzeman Thanks, that was the reason :) It's working fine now. I've searched a "status page" for Trakt API but not found :/

[2015-01-17 06:16] fuzeman commented on #164
fix included in **0.9.1.8-beta**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-30#entry825185

[2015-01-17 06:16] #164 closed

[2015-01-17 06:17] fuzeman commented on #163
fixes included in **0.9.1.8-beta**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-30#entry825185

[2015-01-17 06:17] #163 closed

[2015-01-17 06:30] fuzeman commented on #160
Does this still happen after restarting PMS (so the plugin restarts)?

It's a bit hard to work out what's happened from your log files, I can't really see why the scanner stopped processing your "Plex Media Server.log" file.

---------------------

I've noticed there can also be some lag in the processing of logs on some systems, so I'll look at reducing the processing delay (or add an option to t

[2015-01-17 06:36] fuzeman opened #167 "Additional collection metadata"
*http://docs.trakt.apiary.io/#reference/sync/add-to-collection*

Implement the ability to send additional collection metadata, for example:
 - **media_type** *(digital, bluray, hddvd, dvd, vcd, vhs, betamax, or laserdisc)*
 - **resolution** *(uhd_4k, hd_1080p, hd_1080i, hd_720p, sd_480p, sd_480i, sd_576p, or sd_576i)*
 - **audio** *(lpcm, mp3, aac, ogg, wma, dts, dts_ma, dolby_prologic, dolby_digi

[2015-01-17 06:37] fuzeman opened #168 "Synchronize playback progress"
*http://docs.trakt.apiary.io/#reference/sync/playback/get-playback-progress*

[2015-01-17 11:30] shotfirer commented on #160
Stupid me 8) I'd always just replaced plugin, without restarting PMS. Previous versions just appeared in the system and all features started to work, but not this time, i think.
Restart fixed it, at least for now. I'll check it for a day or two, than report here.
Thank you.

[2015-01-18 00:40] hgelpke opened #169 "Sync failed: IndexError('list index out of range',)]"
I've been trying to get sync to work since Trakt moved to 2.0 with no luck. With beta 8 when sync fails I get an error stating "list index out of range". Not sure what the issue is.

[2015-01-18 10:24] shotfirer commented on #160
And it's not working again. This time it seems, that scrobbling was broken by log rotation.
[code]
And that's it, no scrobbling past this point.
Complete logs here:
https://www.dropbox.com/sh/4vuux8fsvvn944q/AADNnEX8SpjajIcvzdI8L6tXa?dl=0

[2015-01-18 10:53] fuzeman commented on #169
Could you send me the plugin log files, see https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files for the location of them.

[2015-01-18 14:28] ppgb commented on #153
Scrobbling stopped working after I upgraded to one of the latest betas.

[2015-01-18 16:35] hgelpke commented on #169
Gladly. Which ones do you need "info" and which ones do you need "debug"

On Sun, Jan 18, 2015 at 2:53 AM, Dean Gardiner <notifications@github.com>
wrote:

[2015-01-18 21:58] fuzeman commented on #169
Setup the plugin "Logging" options like this:
![](http://i.imgur.com/l1rVtMP.png)

Run another sync (to reproduce the problem) and then upload the "com.plexapp.plugins.trakttv.log" file somewhere or send it to me@dgardiner.net

[2015-01-19 16:36] shotfirer commented on #160
Yeah, that's definitely the issue here. After PMS restart the scrobbling works fine, but only until first log rotation.

[2015-01-20 14:49] dustinhansen opened #170 "Must Use Plex On Port 32400?"
It seems like the Trakt scrobbler is hard-coded to use port 32400 but we run our Plex server on a different port. Is there any way to address this?

[2015-01-21 10:26] fuzeman commented on #153
**v0.9.1.9-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-31#entry829615

[2015-01-21 10:28] fuzeman commented on #160
@shotfirer I've discovered errors aren't logged correctly from the activity modules, could you grab **v0.9.1.9-beta** from https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-31#entry829615 and provide an updated log file.

[2015-01-21 10:29] scottrobertson commented on #153
@fuzeman awesome work. Do you scrub any sensitive data before sending it to Sentry? If so, you could make it a public project, which would be quite awesome.

[2015-01-21 10:49] fuzeman commented on #170
Support can be added for this, wasn't aware you could change the port PMS binds to though?

[2015-01-21 11:32] fuzeman commented on #153
@scottrobertson mainly just exceptions are reported to sentry - local variables are removed and paths are all converted to be relative to the "Plug-ins" folder (so windows account names aren't stored).

I'm not sure about having the sentry project completely open (this could result in a few issues). I'll probably just share specific events that are relevant to issues reported on the github issue t

[2015-01-21 12:21] Benni-chan commented on #170
afaik plex always uses 32400. you can only configure the port for external connection (if you want to set another port for portforwarding in your router). but in the local network (and internally) plex always uses 32400. otherwise no app would know, how to connect to pms.

[2015-01-21 21:42] shotfirer commented on #160
I suppose this is what you've looking for:
[code]

[2015-01-22 02:20] fuzeman commented on #160
@shotfirer could you test the latest development release: https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip

[2015-01-22 03:07] hgelpke commented on #169
https://drive.google.com/file/d/0B37roVu9zhf4V3VjRXRyb1FheXc/view?usp=sharing

On Sun, Jan 18, 2015 at 1:58 PM, Dean Gardiner <notifications@github.com>
wrote:

[2015-01-22 10:32] chrisrico opened #171 "Sync failed: XMLSyntaxError: invalid character in attribute value"
Here's the relevant portion from my log: http://pastie.org/private/miengokl7vcyujinojog1g

I have PlexPass and I'm running on Ubuntu. This occurs only while syncing movies, shows work fine.

Let me know if there's any additional information you need.

[2015-01-22 14:49] scottrobertson commented on #153
@fuzeman Awesome, thanks. It was mainly the first part I wanted to make sure about, the idea of it being public was just an idea :) I would be lost without Sentry!

[2015-01-22 22:44] shotfirer commented on #160
@fuzeman So far so good. It seems, that whatever you did fixed it. Still some warnings in the log, but no errors and scrobbling was not broken by log rotation. Will check it for a few days though. Great job, thank you, guys!
**com.plexapps.plugin.trakttv.log**
[code]
I think, that the cause of the second warning, is that the log was rotated in the middle of event.
Here's the beginning of the new l

[2015-01-23 11:18] fuzeman commented on #153
**v0.9.1.10** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-32#entry831576 (numerous bug fixes :smile:)

[2015-01-23 11:20] fuzeman commented on #171
Possibly fixed in **v0.9.1.10**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-32#entry831576

Unsure on the exact cause, so let me know if this hasn't been fixed yet.

[2015-01-23 11:21] fuzeman commented on #169
Should be fixed in **v0.9.1.10**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-32#entry831576

[2015-01-23 11:21] #169 closed

[2015-01-23 11:25] fuzeman commented on #170
Would like to know if this option is *actually* required before progressing, will be happy to re-open this when more details are provided.

[2015-01-23 11:25] #170 closed

[2015-01-23 11:26] #159 closed

[2015-01-23 11:32] fuzeman commented on #162
Filters are only used for scrobbling, syncing just doesn't have the ability to to push watched data from multiple plex users to trakt.

This will likely be supported in the future with a planned multi-user scrobbling/syncing feature..

[2015-01-23 11:32] #162 closed

[2015-01-23 11:43] JBerkvens commented on #157
I don't know if it helps, but I also get the 502 error but it doesn't say: Unknown - "Unknown".
I get the error message: failed (trakt.tv - 502: "server unavailable").

[2015-01-23 11:56] fuzeman commented on #166
This is quite a complicated issue, the problem here is the way data is merged between plex and your trakt.tv profile.

Basically on trakt "no rating" and "unrated" is considered the same - so after unrating an item on trakt, the plugin just thinks the rating (on plex) was never sent to trakt yet and just sets it back to the original value.

This issue will likely only be resolved with a more compl

[2015-01-23 12:01] fuzeman commented on #160
@shotfirer that fix has now been released in **v0.9.1.10**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-32#entry831576

[2015-01-23 12:05] Wolf666 commented on #157
with 0.9.1.10 got 502 with "server unavailable"
I am also running Plex Preview 0.9.11.9

[2015-01-23 19:46] hgelpke commented on #169
That seems to have done the trick. Thank you for all your hard work.

On Fri, Jan 23, 2015 at 3:21 AM, Dean Gardiner <notifications@github.com>
wrote:

[2015-01-24 20:00] AndreasWurm commented on #148
can confirm

[2015-01-24 21:53] AndreasWurm opened #172 "Syncing is broken as fuck?"
this is my first usage of this plugin. i used trakt + xbmc + xbmc plugin earlier. migrated to plex last month.

Well I installed the latest Beta today and wanted to synchronize.. first of it didnt work getting all kind of code 500 errors. When it worked it started to update the watched info from trakt (pull).
So far so good. Now its still in the process of pushing. and it is actually pushing every

[2015-01-25 01:49] fuzeman commented on #172
The plugin compares your watched media in plex against trakt to determine if there are any changes that need to be sent to trakt *(the watched timestamp doesn't come into this)*.

It's hard to really determine what happened without your log files yet, but this issue could likely come down to:
 - Running a version of the plugin earlier than v0.9.1.6 with the "Personal Media" metadata agent (or an u

[2015-01-25 01:52] #171 closed

[2015-01-25 20:00] AndreasWurm commented on #172
im currently cleaning up my trakt history with a ruby script. after that ill try to recreate the issue and report back.
just to get some clarification, plex doesnt know when something was watched, only if it was watched or not?
If the later is the case, what is supposed to happen if i watch a movie i already watched some time ago?
Also does that mean the timestamp for watched in trakt is always th

[2015-01-26 00:27] fuzeman commented on #172
There is a ```lastViewedAt``` timestamp in plex. this is sent to trakt when marking items as watched.

--------------------

I previously mentioned the watched timestamp in response to this:

The watched timestamp in plex isn't used to determine which items need to be sent to trakt, so something else must be causing this issue..

[2015-01-26 14:09] fuzeman commented on #153
**v0.9.1.11** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-33#entry834510

[2015-01-27 15:59] marjorg commented on #172
Hey! I'm having some sync issues too, my log is attached! I'm not 100% sure, but I think it started when trakt.tv published their new site.

Log: https://www.dropbox.com/s/exza9rg2hhywa6k/trakttv.txt?dl=0

[2015-01-28 21:12] AndreasWurm commented on #172
this time i can provide you with logs.

I Added the movies "Se7en" and "Crank High Voltage" to my movie folder.
This resulted in them now beeing marked as collected in Trakt as expected.
But besides that they got also listed in my recently watched section in Trakt, which is clearly wrong.
Both movies were already marked as watched in Trakt (May 2014).

From the Trakt History:
Crank: High Voltage J

[2015-01-29 00:05] fuzeman commented on #172
Thanks for the logs, I can see what's causing this issue now..

Should have a fix for this bug released later today.

[2015-01-29 02:50] fuzeman commented on #172
This bug should be fixed in this development version: https://github.com/trakt/Plex-Trakt-Scrobbler/archive/f7e61c11f68eec29ef89b95b342012652c9d6d7a.zip

Will have a proper beta release later today after some more testing.

[2015-01-29 12:07] fuzeman commented on #172
Released in **v0.9.1.12-beta**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-34#entry837859

Will assume this is fixed for now, let me know if you are still seeing this bug in the latest beta.

[2015-01-29 12:07] #172 closed

[2015-01-29 12:08] fuzeman commented on #153
**v0.9.1.12-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-34#entry837859, hopefully the final **v0.9.1** beta :smiley:

[2015-01-31 23:30] f3bruary22 commented on #158
I'm currently using 0.9.1.12-develop and getting this http://f3bruary.net/p/raw/mexirujubi
Do I need to switch to beta ? I'd rather use something a little more stable.

[2015-02-02 04:07] fuzeman commented on #153
I've just released **v0.9.1** onto the stable branch now: https://forums.plex.tv/index.php/topic/102818-rel-trakt/page-35#entry841418

Closing this issue now :smiley:

[2015-02-02 04:07] #153 closed

[2015-02-02 04:08] #160 closed

[2015-02-08 07:36] danielb2 opened #173 "Encouragement: here it is"
Your software is awesome. And anytime it doesn't work, I just do a `git update` and it starts working again.  You're awesome too. Thanks!

-d

[2015-02-08 23:55] fuzeman commented on #148
This should be fixed in the develop branch.

[2015-02-09 12:16] #148 closed

[2015-02-09 20:43] elmamado opened #174 "Problem and help"
Hello

I have the  2.3.15 version and  0.9.11.7 version still i can't use the last master version. Anyone with the same problem?

[2015-02-15 16:54] scottrobertson opened #175 "Duplicates"
Hey,

Getting duplicates in trakt all of a sudden. Running the latest (develop) version.

Any ideas?

Let me know if you need any logs etc

My Settings (if it helps):

![Settings](https://upload.scottrobertson.me/dakcDcW565vfP.png)

[2015-02-16 11:54] ucristian opened #176 "Trakt on Linux 64bit, Plex Version 0.9.11.7"
After install, it doesn't appear in the channel section.

[2015-02-17 00:08] fuzeman commented on #173
Thanks :smiley:

[2015-02-17 00:08] #173 closed

[2015-02-17 00:09] fuzeman commented on #174
Could you upload the plugin log file?

See https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files for the location of the log files.

[2015-02-17 00:11] fuzeman commented on #175
Duplicates can happen while the trakt.tv API is under heavy load, could you upload the plugin log file to confirm this though?

See https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files for the location of the log files.

[2015-02-17 00:22] fuzeman commented on #176
Could you upload the plugin log file?

See https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files for the location of the log files.

[2015-02-17 01:35] elmamado commented on #174
hello
thanks for answer my call.
i send the fill attached.
Regards

Date: Mon, 16 Feb 2015 16:09:13 -0800
From: notifications@github.com
To: Plex-Trakt-Scrobbler@noreply.github.com
CC: andre_gomez000@hotmail.com
Subject: Re: [Plex-Trakt-Scrobbler] Problem and help (#174)

Could you upload the plugin log file?

See https://github.com/fuzeman/Plex-Trakt-Scrobbler/wiki/Support#log-files for the locat

[2015-02-17 01:41] fuzeman commented on #174
Have you updated to v0.9.1.18 (https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=854325)?

This bug should of been fixed in v0.9.1.18.

[2015-02-17 09:37] ucristian commented on #176
There isn't a log file created.

I've Trakt on linux 32 bits running perfectly but I don't know what happen on 64 bits

[2015-02-17 09:55] fuzeman commented on #176
Could you check the directory structure of the plugin first, it should be installed as:
[code]

If the directory structure is correct for the plugin, restart plex media server (wait a minute for it to startup) then upload the latest ```Logs\Plex Media Server.log``` file.

[2015-02-17 10:59] fuzeman opened #177 "Multi-user scrobbling"
Implement the ability to link individual plex users/clients to trakt.tv accounts and scrobble multiple sessions simultaneously.

---------------------------

**13/02/2015** - Development has started (in [feature/scrobbler-redesign](https://github.com/fuzeman/Plex-Trakt-Scrobbler/tree/feature/scrobbler-redesign)). There will be a beta version released when this feature is in a workable state.

**7/

[2015-02-18 04:07] fuzeman commented on #176
This appears to be the problem:
[code]
This error likely means the plugin has incorrect permissions.

Not sure how your system is setup, but the owner + group needs to be set to "plex" on my system (```chown -R plex:plex Trakttv.bundle```)

[2015-02-18 11:32] ucristian commented on #176
Thanks a lot.

[2015-02-18 14:44] elmamado commented on #174
Hello again

With the new update everything is working again thanks

Em 17/02/2015 01:41, Dean Gardiner <notifications@github.com> escreveu:
Have you updated to v0.9.1.18 (https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=854325)?

This bug should of been fixed in v0.9.1.18.

---
Reply to this email directly or view it on GitHub:
https://github.com/trakt/Plex-Trakt-Scrobbler/issues/174#is

[2015-02-21 23:57] scottrobertson commented on #175
I fixed this by using master, but since you merged develop, this has started happening again. Getting logs now

[2015-02-22 00:24] scottrobertson commented on #175
https://gist.github.com/scottrobertson/27abaf20b32d9dac4db2

The pause at `00:01:32` was genuine.

[2015-02-22 11:43] #174 closed

[2015-02-22 11:44] #176 closed

[2015-02-22 11:47] fuzeman commented on #175
Could you provide a log with all the "Logging" options set to "DEBUG", it's a bit hard to see why the duplication occurred from that log file..

[2015-02-25 02:13] RampantRedsFan opened #178 "Synchronize, failed (MemoryError: "")"
I am running the most recent stable release that is in the unauthorized app store (0.9.1.20-master) and I am receiving the following error when trying to Syncronize "failed (MemoryError: "")"

I have a fairly large library that includes local programs that are not on Trakt... Other than that I am just a normal Plex user.

Below is my log. I increased logging for the most recent Sync attempt.

Plea

[2015-02-27 05:05] fuzeman commented on #178
Roughly how large is your collection? the details under ```trakt -> About -> Cache Statistics``` would give me a good idea.

How much physical and virtual memory do you have?

---------------
Current virtual memory size can be found under: ```Control Panel -> System -> Advanced system settings -> Advanced -> Performance Settings -> Advanced -> "Total paging file size for all drives"```

[2015-02-27 19:57] scottrobertson commented on #175
@fuzeman sorry about the late reply. This seems to have been fixed with the an update lately? No longer getting duplicates.

[2015-02-28 15:41] RampantRedsFan commented on #178
Thanks for responding...

There are two numbers on here... [matcher] Store Size: 1160 - [metadata] Store Size: 279

My Virtual memory is 8078 MB.

I am going to up the virtual memory and report back.

[2015-02-28 16:52] dannymichel commented on #178
Where is the log located?

[2015-02-28 20:04] RampantRedsFan commented on #178
The log is located on a 500 GB SSD with OS Drive with 150 GB of free space.

[2015-03-02 06:23] fuzeman commented on #178
On windows, 32-bit python (used in PMS) can only use up to 2GB of memory, hitting this limit is likely triggering the ```MemoryError```.

I've started looking into what is causing these big memory allocations, will try keep this issue updated on the progress of a fix.

--------------------------------------

Memory usage on my server sits at around 1.50GB on startup and hits 1.76GB after a sync :c

[2015-03-02 06:26] fuzeman commented on #152
Have some time to look at the memory issues now, more details will be in https://github.com/trakt/Plex-Trakt-Scrobbler/issues/178

[2015-03-02 06:26] #152 closed

[2015-03-02 09:38] jimeh commented on #152
Cool. I haven't noticed it using massive amounts of memory for some time, but it could be cause I've been updating the plugin more aggressively, so it hasn't really been left alone for +2 weeks like before. Currently the last PMS restart was 61 hours ago, and the Trakt plugin is using around 360MB (4.4% of 8GB).

I'll keep and eye on #178 and contribute with anything useful if I can :)

[2015-03-04 04:57] fuzeman commented on #178
The large memory usage reported was as a result of a tool for debugging memory usage displaying ```VmSize``` (includes: shared memory, unmapped pages, file caches, etc..) instead of ```VmRSS``` (memory currently used).

Actual memory usage sits around 180MB, which isn't too bad.. (probably could be reduced a bit :smiley: ).

---------------------------------

This doesn't really provide an answer

[2015-03-06 04:11] fuzeman commented on #178
@RampantRedsFan could you test this version: https://github.com/fuzeman/Plex-Trakt-Scrobbler/archive/issue/178.zip (upload a log if syncing still fails).

------------------------------

I've optimized some components which used a lot of memory and adjusted the caching to avoid objects being left in memory for a long time.

I haven't been able to reproduce this issue myself, so there might be some

[2015-03-09 00:19] sguergachi opened #179 "Trakt Logo needs to be updated"
Currently see the old Trakt.tv logo used throughout the app.

![image](https://cloud.githubusercontent.com/assets/615386/6548518/3eea6e26-c5d2-11e4-85f7-c38e3bdade4a.png)
![image](https://cloud.githubusercontent.com/assets/615386/6548521/4d0928e4-c5d2-11e4-9303-da94d4ba159f.png)

[2015-03-14 18:43] neogeek87 commented on #178
@fuzeman, I am having the same problems. and tried it with the same 178.zip

    [matcher] Cache Size: 0, Store Size: 438
    [metadata] Cache Size: 0, Store Size: 50

Virtual Memory is 10,762MB

Not sure where the log is, but i can provide it if you give me a path

[2015-03-15 16:39] scottrobertson commented on #175
Sorry, i thought this was sorted, but it's not. I will need to enable debug logging and try and get you a lot.

I turned scrolling off, and this still happened. This makes me think it happens during the sync processes.

[2015-03-17 12:01] RampantRedsFan commented on #178
@fuzeman Thanks so much for looking into this, and sorry for my delay in getting back to you.

Unfortunately this release did not fix the MemoryError issue. I have attached my logs turned on the highest logging level. I attempted the sync around 11:45 on 3/16.

https://drive.google.com/file/d/0BwuY0n1LdozRNjZQTXdwY2Zzbnc/view?usp=sharing

[2015-03-17 16:14] pquinn1212 opened #180 "OAuth must be provided Plex"
Hi I used Facebook to sign in to Trackt but the plex wont send the information to it ?

[2015-03-17 16:28] #180 closed

[2015-03-18 01:09] fuzeman commented on #178
@RampantRedsFan could you update the plugin from https://github.com/fuzeman/Plex-Trakt-Scrobbler/archive/issue/178.zip again, set the "Matcher" option to "Plex" (in the plugin settings) and run another sync (upload another log if it still fails).

I'm currently seeing some trakt.tv API issues (overloaded?) which is causing sync to fail (the status will display "trakt.tv - 520", or something simila

[2015-03-18 01:28] fuzeman commented on #175
I'm pretty sure this is caused by retrying requests on 5xx errors (when trakt.tv has actually processed the request, but still returned an error).

I'll disable request retrying in the next release *(will post a comment here when it's released)*.

[2015-03-18 02:56] RampantRedsFan commented on #178
Looks like this worked! I am still getting an error (having to do with connection), but it is no longer the memory error... I'm going to play around with the sync (maybe sync on a directory-by-directory basis) to see if this helps.

Thanks for your help!

[2015-03-18 09:20] scottrobertson commented on #175
@fuzeman yeah that would make sense. Are they aware of this issue?

It may correlate with the fact that I am seeing some shows on my history page, but they are not marked as watched.

[2015-03-20 03:05] fuzeman commented on #175
I've released **v0.9.1.22**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=884518, let me know if you find any more duplicates.

trakt have been making improvements to API stability over the last couple of months, this issue appears to just come back during peak times.

[2015-03-21 17:24] danielb2 opened #181 "link to unsupported appstore is b0rked"

[2015-03-22 14:37] KrunchMuffin commented on #181
Same here

[2015-03-22 19:40] cspot78 commented on #175
had a quad update today, http://pastebin.com/nrssLQhv

[2015-03-22 21:52] fuzeman commented on #175
This is the likely cause:
[code]

Should have another release today with more duplication fixes. *(watch this thread to see when it's released)*

--------------------------------

trakt has some performance improvements coming which should fix the root cause of these problems, this was posted yesterday:

[2015-03-22 21:55] fuzeman commented on #181
Thanks, will get this link updated shortly.

[2015-03-22 22:51] ukdtom commented on #181
UAS is currently offline!

[2015-03-23 02:22] fuzeman commented on #175
I've released **v0.9.1.23**: https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=887021, fixes a couple more duplication bugs.

[2015-03-23 02:39] fuzeman commented on #181
Fixed the link in the README and thread.

**Note:** the github repository for UAS has been disabled, but downloading UAS via http://bit.ly/ihqmEu (listed on the [thread](https://forums.plex.tv/index.php/topic/151068-unsupported-app-store-as-in-totally-unsupported-is-currently-offline/)) and installing the trakt plugin still works correctly.

[2015-03-23 02:39] #181 closed

[2015-03-23 03:03] danielb2 commented on #181
thanks!

[2015-03-25 07:06] 2wenty2wo opened #182 "Constantly Scrobbling The Same 2 Movies Everyday"
Hi,

Firstly, great plugin (has been working great up until now).
I didn't realise I was having an issue until I noticed my trakt profile has the same 2 movies scrobbled as watched everyday (sometimes more than once a day). I haven't watched these movies.
![image](https://cloud.githubusercontent.com/assets/11643336/6819716/bb976682-d319-11e4-8615-4ee11cd21699.png)

I contacted the Plex team and th

[2015-03-25 09:59] fuzeman commented on #182
Which version of the plugin are you using? (displayed in: ```Channels -> trakt -> About```)

Latest version is **0.9.1.23**, try updating if you aren't on this version.

[2015-03-25 10:12] 2wenty2wo commented on #182
I just checked and I was running version 0.9.1.12-beta, UnSupported Appstore still tells me thats the latest version for some reason, it won't update via that. :(

I've download the latest version from GitHub to see how it goes, thank you.

[2015-03-26 13:09] mbeckford88 opened #183 "Clean Collection/Collection Sync Incorrect"
Hi Guys,

It's looking like since the trakt 2.0 API update that Cleaning a Collection no longer works?

I've removed all media from my collection (just moved the files somewhere else), updated library so my collection clears and have the Sync - Clean Collection option enabled, but then on trakt everything still shows up?

Also related, the collection numbers don't sync up (my plex library reports

[2015-03-27 01:31] fuzeman opened #184 "Plugin prevents system hibernation"
*Reported on forums.plex.tv: https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=890170*

[2015-03-27 01:58] #182 closed

[2015-03-30 00:21] fuzeman commented on #184
Changes have been included in **v0.9.1.24** to try resolve hibernation problems (https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=893332)

---------

Make the following changes to the plugin settings:
 - Set all the "Logging" options to "ERROR"
 - Set the "Activity mode" option to "WebSocket (PlexPass)"

Closing this for now, will re-open if this issue is still happening with the latest

[2015-03-30 00:21] #184 closed

[2015-03-30 00:24] fuzeman commented on #175
Haven't heard any report of duplicates (or seen any myself) after the latest release, closing this issue.

[2015-03-30 00:24] #175 closed

[2015-03-30 00:25] #178 closed

[2015-03-31 14:21] claytron opened #185 "Max retries exceeded when trying to sync"
I upgraded to the latest version (`v0.9.1.24`) and got the following errors when trying to sync:

[code]

I can provide more log information if needed.

[2015-03-31 14:29] claytron commented on #185
I will also note that after downgrading to `v0.9.1.23`, it works fine.

[2015-03-31 22:06] fuzeman commented on #185
This error is raised when the trakt.tv API hasn't returned a response after waiting 24 seconds, this happens quite often when it's under heavy load. Previously we retried these requests to eventually get a response, a few versions back this was disabled as it was causing scrobble duplication in some cases.

I'll need to look into this issue again to see if we can enable retrying again but ensure w

[2015-03-31 22:18] fuzeman commented on #183
You might need to have at least one item in your plex library for the sync to actually start.

This issue just reminded me this bug still exists (it's been around for a year), will have this fixed in the next release.

[2015-04-01 08:31] mbeckford88 commented on #183
Cool, tried again with a single item in the library to sync with and yea still not accurate.

Let me know if you need any logs to help out.

[2015-04-01 13:50] claytron commented on #185
Thanks for the clarification, I upgraded back to the latest and it worked fine.

[2015-04-12 13:09] jmagnusson commented on #29
It would be nice with a page describing all settings. For example I don't know what "Sync - Instant Actions" and "Scrobble" actually do...

[2015-04-15 21:05] CherryCrunch commented on #130
Well I just tried to get it running and allways get the same problem. No matter if I use eMail or Username and my password, I get a Authentication failed error.

I use Plex Version 0.9.11.16 on a Synology and Plex Trakt 0.9.1.24. Can anyone help me?

[2015-04-28 01:58] Brianbrifri opened #186 "Media gets scrobbled when someone plays my media that I shared with them."
So, I have an extensive Plex Library and I share with a couple friends. Sometimes (most of the time) if they watch something from their own account, Trakt (and thus plex as well) sees it as if I watched it and marks that movie/TV show as watched. Would like it so that it does not scrobble what they watch to my trakt account. It loses my place in the tv show queue.

[2015-04-28 03:10] Brianbrifri commented on #73
What would be an example of a client name I should enter for the client filter? Basically, All I want is for me and only me, not my friends who I've shared my library with, to scrobble to trakt

[2015-04-28 06:24] fuzeman commented on #186
The best way to filter out watching activity from other accounts is to add your Plex username into the ```Filter - myPlex users``` option.

The ```Filter - Clients``` option is a list of client names that are allowed to scrobble to your trakt.tv account, the client names can be found at ```Settings -> Devices``` on your Plex Media Server.

---------------------------

**Note:** I'm currently worki

[2015-04-28 19:28] Brianbrifri commented on #186
Thank you for the clarification on both what each one does and where to find the client names. Will definitely be keeping a lookout for that feature. Now we just need Trakt to clean up their website :)

[2015-04-28 19:37] #186 closed

[2015-05-05 03:13] fuzeman opened #187 "EOFError raised when syncing"
Likely caused by a corrupted matcher cache, we should invalidate the item when this exception is raised.

---------------------------------

[code]

[2015-05-05 09:17] M0UL opened #188 "feature request: trakt login with pin"
adding support for login with pin, with is meant for media center plugins.
see trakt [api docs] (http://docs.trakt.apiary.io/#reference/authentication-pin) for more info.

[2015-05-06 06:11] fuzeman commented on #187
Fix released in [v0.9.1.25](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.1.25)

[2015-05-06 06:11] #187 closed

[2015-05-06 06:15] fuzeman commented on #188
This is supported in the "develop" branch, it still needs further testing before it will be released onto the "master" branch.

[2015-05-07 05:21] fuzeman commented on #177
Multi-user scrobbling has been implemented in the [feature/scrobbler-redesign](https://github.com/fuzeman/Plex-Trakt-Scrobbler/tree/feature/scrobbler-redesign) branch.

----------------------------------------------------

**Note**
 - The new configuration interface is still in development, currently the only way to add more accounts is by editing the SQLite database directly
 - Still early in dev

[2015-05-08 17:50] wingnut092 opened #189 "trakt.tv - 403: "Invalid API Key""
I've had this error popping up every time i tried to resync for a while now... i tried searching the forums and i haven't found anyone experiencing this issue... am i the only one?

[2015-05-12 00:40] fuzeman opened #190 "Support for AniDB metadata agents"
We will need to integrate http://thexem.de to map AniDB IDs and season/episodes to the correct TheTvDB ID and season/episode structure.

----------------------------

**Metadata Agents:**
 - https://forums.plex.tv/index.php/topic/77636-release-http-anidb-metadata-agent-hama/

[2015-05-12 00:46] fuzeman commented on #189
Strange, must of missed the notification for this issue.

Which version of the plugin are you using? (can be found at ```Channels -> trakt -> About```)

[2015-05-12 07:16] Benni-chan commented on #190
problem with thexem: as far as I see, the api won't return any id, only binding. so if you are searching for a specific anidb-id, season, epnum, you get only a season and epnum for tvdb, but not the tvdb-id.

because of this (and maybe other limitations, i'm not sure anymore), I'm currently using this xml in my own script, where I need anidb/tvdb bindings: https://github.com/ScudLee/anime-lists/
t

[2015-05-12 12:13] wingnut092 commented on #189
not a problem.. i appreciate you getting back to me on this...
i'm currently using 0.9.1.25-master

Date: Mon, 11 May 2015 17:46:27 -0700
From: notifications@github.com
To: Plex-Trakt-Scrobbler@noreply.github.com
CC: wingnut092@outlook.com
Subject: Re: [Plex-Trakt-Scrobbler] trakt.tv - 403: "Invalid API Key" (#189)

Strange, must of missed the notification for this issue.

Which version of the plu

[2015-05-12 13:34] SathyaBhat opened #191 "Scrobbler doesn't report/scrobbles playback from a remote server."
I noticed that Plex Trakt Scrobbler doesn't seem to scrobble playback from remote servers. is this by design? Is there a way the scrobbler can scrobble plays from remote server?

I'm on Plex Media Server v0.9.12.0.1071-7b11cfc / Plex Trakt Scrobbler 0.9.1.25-master

Thanks

[2015-05-12 23:37] fuzeman commented on #190
Strange, expected this data to be exposed in the xem API (it must be in their database).

**Note:** I'm currently redesigning the syncing system, so won't have time to work on this issue until the syncing changes have been completed.

[2015-05-14 20:04] M0UL commented on #190
thexem support for mapings between the anidb end thtvdb would be nice.

[2015-05-16 17:30] rectifyer commented on #179
Let me know if you need any other images.

![trakt-1024](https://cloud.githubusercontent.com/assets/71046/7667255/7205e974-fbb6-11e4-8ca4-735d095646e9.png)

![trakt-b wfordarkbgs](https://cloud.githubusercontent.com/assets/71046/7667256/8139206e-fbb6-11e4-98d5-02b12806221f.png)

[2015-05-17 17:15] JossiEnd commented on #177
I'm trying to get this to work but it doesn't. I share my Plex Server with two friends. I'm the only one using Trakt. But whenever they watch something it's being added to my trakt histery. How should i setup the filter? Fill in my username, or fill in the other users name? Is the "Clients" filter also part of the multi user experience?

[2015-05-18 00:16] fuzeman commented on #177
@JossiEnd With all the filters, you enter the users/clients you would like to scrobble from *(your username or clients)*.

----------------------------------------------

**Note:** filters aren't related to this issue (they have been available on the master branch for a long time), this issue is to allow users sharing your server the ability to scrobble/sync to their own trakt.tv accounts.

[2015-05-18 00:20] fuzeman commented on #191
The plugin runs on the server, and currently is only designed to scrobble/sync the server administrator account.

https://github.com/trakt/Plex-Trakt-Scrobbler/issues/177 will allow separate trakt.tv accounts for each user on a server, but is still awhile away from a proper release.

[2015-05-18 00:34] fuzeman commented on #189
Bit of a strange error, my guess is the authentication token for your account isn't being accepted anymore.

Try this (to force the plugin to re-authenticate):
 - Stop Plex Media Server
 - Delete the ```Plex Media Server\Plug-in Support\Data\com.plexapp.plugins.trakttv\Dict``` file *(doing this won't reset the plugin preferences)*
 - Start Plex Media Server again

Look at [this](https://support.pl

[2015-05-18 08:01] SathyaBhat commented on #191
Thanks, @fuzeman :)

[2015-05-18 09:17] fuzeman commented on #179
Thanks, might have some time to get this done later this week.

[2015-05-18 09:18] #191 closed

[2015-05-18 12:02] fuzeman commented on #183
Sorry, kinda forgot about this issue..

----------------------------

Comparing my trakt.tv collection against plex actually shows trakt has 47 more episodes, this is likely due to multi-episode files (S01E01E02, etc..) that plex can't discover properly. So, collection syncing seems to be working correctly on my system.

To figure out what's happening on your system, could you supply the plugin lo

[2015-05-18 15:45] wingnut092 commented on #189
deleting the file did indeed prompt me with an authentication error but when attempting to reinput my credentials, it tells me that the sync process is already running... it's been like that over night... is there a way to kill the trakt sync process or does restarting the plex service do that?

Date: Sun, 17 May 2015 17:34:22 -0700
From: notifications@github.com
To: Plex-Trakt-Scrobbler@noreply.g

[2015-05-18 18:59] JossiEnd commented on #177
Thanks! It look like i got it working now!

[2015-05-18 20:42] mbeckford88 commented on #183
Embarrassingly I think I found the issue, I had a few episodes that plex detected but weren't mapped to trakt...

Removed them from my library and my plex numbers now match up, blame some really obscure TV shows it seems!

[2015-05-18 20:42] #183 closed

[2015-05-21 13:16] damiantje99 commented on #177
Hi,

Any idea when the multi-user scrobbling option will be done? And can you explain how I use multi-scrobbling from the SQLite database?

Kind Regards

[2015-05-23 15:09] cswelin commented on #189
I"m see this same issue, running the latest (9.1.25 master).
Also tried forcing the auth token as well.

Cold this be caused due to the new v2 api?

[2015-05-25 07:52] fuzeman commented on #179
The updated icons + background are on the develop branch now, will release these in a new version later today or tomorrow.

-----------------------------------------------
**Channel Icon**
<img src="https://raw.githubusercontent.com/trakt/Plex-Trakt-Scrobbler/develop/Trakttv.bundle/Contents/Resources/icon-default.png" width="128" height="128" />

**Menu Icons**
<img src="https://raw.githubusercont

[2015-05-25 14:15] wingnut092 commented on #189
ok well crazy thing... it seems to be working now... i did reboot the box a few times after following the instructions above so maybe the process just needed to time out before the fix could actually be applied... i'll update if anything changes but as it stands now, it seems to be working..

[2015-05-26 00:20] fuzeman commented on #179
Released in [v0.9.1.26](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.1.26)

[2015-05-26 00:20] #179 closed

[2015-05-27 20:43] alltimemarr opened #192 "Media gets scrobbled when someone plays my media that I shared with them."
Hi,

I have the same problem as the guy in issue #186 but wasn't sure if i could comment my problem on his issue, so I opened a new one.

I used the filtering, but it seems like I'm doing something wrong. I don't have a PlexPass, but I shared my login information/account with my sister, so she can login on her laptop, and watch shows and movies i have on mine via Plex. So she's not on another User

[2015-05-28 17:58] rectifyer commented on #179
This looks great!

[2015-05-30 18:37] botering1 commented on #85
I really need this to go back using Plex Home Theater. Right now I'm using Kodi with PleXBMC. And the Kodi plugin works with the external player.

I don't think we need the progress data. I think just marking something as watched when the player is closed should be enough. I think that is how the Kodi plugin handles it. It detects when the player is closed. It's not great, but good enough.

Thank

[2015-06-19 13:25] copt3r commented on #190
I think I got the same problem.

Anyway I can change to tvdb? I tried fixing match, used tvdb, show is correct, loaded art work and whatnot but when running the sync again I got the same as above.
I guess simply fixing the match with tvdb does not update this marker.

[2015-06-30 02:31] fuzeman opened #193 "v0.9.9 (Beta) - Updates"
This issue will be used to provide updates related to the **v0.9.9** beta, it will be locked so only important notifications will be sent. *(subscribe for email notifications)*

More details about the beta is available at the new wiki here: https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Beta-v0.9.9

[2015-06-30 02:35] fuzeman opened #194 "v0.9.9 (Beta) - Discussion"
This issue will be open for anyone to ask general questions about the **v0.9.9** beta, please open new issues for any bugs/problems you find.

[2015-06-30 02:38] fuzeman commented on #188
Will be released in the coming **v0.9.9** beta ([discussion](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/194), [updates](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/193))

[2015-06-30 02:38] #188 closed

[2015-06-30 02:38] fuzeman commented on #177
Will be released in the coming **v0.9.9** beta ([discussion](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/194), [updates](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/193))

[2015-06-30 02:38] #177 closed

[2015-06-30 02:39] fuzeman commented on #168
Will be released in the coming **v0.9.9** beta ([discussion](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/194), [updates](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/193))

[2015-06-30 02:39] #168 closed

[2015-06-30 02:39] fuzeman commented on #167
Will be released in the coming **v0.9.9** beta ([discussion](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/194), [updates](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/193))

[2015-06-30 02:39] #167 closed

[2015-06-30 02:39] fuzeman commented on #74
Will be released in the coming **v0.9.9** beta ([discussion](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/194), [updates](https://github.com/trakt/Plex-Trakt-Scrobbler/issues/193))

[2015-06-30 02:39] #74 closed

[2015-06-30 08:00] fuzeman commented on #193
**v0.9.9.0-beta** has been released: https://forums.plex.tv/index.php/topic/102818-rel-trakt/?p=968773

[2015-07-04 00:20] rectifyer opened #195 "v.0.9.9 beta fails to initialize"
Clean install of the v.0.9.9 beta fails to load up and gets the error log below. The error is pointing to shared code which seems weird. I'm running this on Unraid 6.0.1 using PMS Version 0.9.12.4. Let me know if you need more info or logs and thanks for all the work on this!

[code]

[2015-07-04 02:17] fuzeman commented on #195
I've recompiled apsw (sqlite) without the ICU extension, try testing the develop branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)).

[2015-07-04 05:06] rectifyer commented on #195
Cool, the development version allows the plugin to initialize and show up correctly now! However, this uncovered another error when trying to do a full sync which prevents it from working.

[code]

[2015-07-04 07:47] fuzeman commented on #195
ed35d4d should fix that issue, not sure why the plex database has episodes stored without a valid show though..

[2015-07-04 23:29] rectifyer commented on #195
Sweet, yes that fixed the issue and allowed it to sync correctly for watched and collected items.

Unrelated to this original bug, but I'm looking into another issue with the collection metadata. It appears to send the incorrect date for the **collected_at** field. For example, an episode collected just 1 day ago sent a date from 2013 along. Looking over the code this seems like a Plex issue where

[2015-07-05 22:02] newloran2 commented on #195
I had a similar issue.
My sistem is a PMS 0.9.12.4 running on a mac osx 10.7.4.
I tried to use the the release v0.9.9.0-beta and the develop branch, both has same issue
My log:

2015-07-05 15:03:39,134 (7fff7cd0e960) :  INFO (core:347) - Starting framework core - Version: 2.6.2, Build: 9b6935b (Wed May 20 03:15:08 UTC 2015)
2015-07-05 15:03:39,134 (7fff7cd0e960) :  DEBUG (core:359) - Using the ele

[2015-07-06 08:32] fuzeman commented on #195
@newloran2 I'll have a look at that bug now, looks like I need to compile some libraries that are compatible with your system.

[2015-07-06 12:03] fuzeman commented on #195
@newloran2 Just pushed a fix to the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)). I've tested it on OSX 10.10.3, but it should be compatible with everything *(excluding the old PowerPC machines)*.

[2015-07-06 19:46] SathyaBhat commented on #191
Dropping in a comment - I'm running PTS development version (.9.9.9). PTS isn't scrobbling plays from remote server - the client filter is set to `*`.

Attached the log file: http://pastebin.com/xLDWR9Xv

[2015-07-06 21:04] badnetmask commented on #185
I'm sorry, not sure if related, but I got here after a quick search for this error message:

com.plexapp.plugins.trakttv      (7f8ff69d0700) :  INFO (logging_handler:46) - [requests.packages.urllib3.connectionpool] Resetting dropped connection: 127.0.0.1
com.plexapp.plugins.trakttv      (7f8ff69d0700) :  WARNING (logging_handler:46) - [plex.objects.core.base] Detail - Omitted attributes: allowmedi

[2015-07-06 23:12] fuzeman commented on #195
@rectifyer seeing a similar issue here, my guess is the timestamp of when the show was added to plex is being sent instead. Will start working on a fix now.

[2015-07-07 05:08] vishal1082 opened #196 "Duplicates on Trakt from the plugin"
https://trakt.tv/users/vishal1082/history/episodes

The plugin keeps adding duplicates for no reason to my history; I usually manually delete the duplicates but they sometimes come back, sometimes they don't.

I am leaving these there for now for you to look.

I have set the logging to debug and I will upload the log file when the plugin adds more duplicates, where exactly are the log files saved

[2015-07-07 07:29] vishal1082 commented on #196
https://drive.google.com/file/d/0B0E4WBnwAs2fckpiWjVLdU9yQkU/view?usp=sharing

Here are the logs.

https://trakt.tv/users/vishal1082/history/episodes

This time not only did it add duplicates, it detected the wrong show and episode all together. I was watching Penny Dreadful S2E10, which is what I had to add manually. It detected the Legend of Korra episode, and scrobbled it multiple times.

[2015-07-07 07:35] fuzeman commented on #196
This bug should be fixed on the "develop" branch, it will be included in a new beta release later tonight.

[2015-07-07 09:46] fuzeman commented on #193
**v0.9.9.1-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.9.1-beta

[2015-07-07 13:51] vishal1082 commented on #196
It's still detecting The Legend of Korra S04E08 when I play Penny Dreadful S02E10 on 9.9.1-beta, I will check for duplicate scrobbles in a bit.

[2015-07-07 21:08] xzKinGzxBuRnzx opened #197 "0.9.9.1 (develop) Not reporting to trakt watched or in progress."
[code]

[2015-07-07 23:36] fuzeman commented on #197
I'll work on a fix for this today, not sure what is causing the scrobbler to get into this broken state though.

[2015-07-08 04:06] fuzeman commented on #197
Just pushed a fix to the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), let me know if you still see this issue happening.

[2015-07-08 12:09] xzKinGzxBuRnzx commented on #197
I don't think it has fixed it.

[code]

[2015-07-08 20:24] MaartenMol96 commented on #197
I think we are having the same bug here! Whatever version I try, Develop or Beta I get this:
[code]

[2015-07-08 20:37] MaartenMol96 opened #198 "Nothing works only errors...."
So I deleted everything from the older versions of trakt.tv. When I fired up version 0.9.9.1 (beta) and/or the development build, I setup all the settings and nothing really worked.

No accounts show up under the Sync menu, nothing gets scrobled to my Trakt.TV account. Am I doing something wrong here?

The logs:
[code]

[2015-07-09 01:07] fuzeman commented on #197
@MaartenMol96 @xzKinGzxBuRnzx Could you set the ```Logging - Plugin``` and ```Logging - Libraries``` options to ```DEBUG```, then provide me the plugin log file after restarting Plex Media Server.

I'm guessing your account *(in the plugin)* isn't being created for some reason, leading to watching activity not being matched against any account.

[2015-07-09 01:10] fuzeman commented on #198
Let's merge this into #197

[2015-07-09 01:10] #198 closed

[2015-07-09 03:41] fuzeman commented on #197
Managed to reproduce this issue, so was able to work out what is happening without the logs. Update to the latest version on latest development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), then follow these steps:

1. Restart Plex Media Server
2. Open plugin settings
3. Enter a new authentication pin (visit: https://trakt.tv/pin/478)
4. Save settings
5

[2015-07-09 07:28] Benni-chan commented on #195
ImportError: libicui18n.so.48: cannot open shared object file: No such file or directory
This bug seems to be back with the current developer version
(I'm running PlexMediaServer inside a Docker Container on UnRaid (64bit))

[2015-07-09 08:20] fuzeman commented on #195
@Benni-chan do you know which template you are using for the plex container? or more specifically which distro is the container built with?

I've found the native libraries for FreeBSD are still built with ```libicui18n.so.48```, so will recompile them and update the develop branch with them tonight.

[2015-07-09 08:24] Benni-chan commented on #195
im using https://registry.hub.docker.com/u/needo/plex/
this container uses phusion (based on ubuntu)

[2015-07-09 08:34] fuzeman commented on #195
Not sure where the ```libicui18n.so.48``` dependency would be coming from then..

Could you check the libraries you have match these md5 sums:
[code]

and find messages similar to these from your log file:
[code]

[2015-07-09 08:45] Benni-chan commented on #195
ok, i checked the plugin folder and for some reason the x86_64 libraries were missing (even though I deleted the old Bundle folder and unpacked the zip.
did the same again and now the libraries are back and the plugin works again

[2015-07-09 10:21] MaartenMol96 commented on #197
Thank you very much! Will try this asap!

[2015-07-09 22:47] xzKinGzxBuRnzx commented on #197
I appear to still be having issues.

[code]

[2015-07-10 00:08] fuzeman commented on #197
@MaartenMol96 I'm still working on the new configuration interface to easily setup multiple accounts, should be released next week. Subscribe to #193 for a notification when it's available.

@xzKinGzxBuRnzx Update to the latest version on the development branch again ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), this should fix the broken sessions in your data

[2015-07-10 00:15] XxUnkn0wnxX opened #199 "all Previous Dead shows constantly showing up in Trakt/TeeVee App"
i Believe this should be fixed or a feature implemented to resolve this issue.

i have an app called TeeVee that uses the trakt API but when i sync my plex library then sync it back up on the app all my Dead old TV shows come back on the app.

i only want to Track the currently showing TV shows in my plex Library not all my TV shows.

i want to have the ability to select the shows i am currently w

[2015-07-10 00:51] xzKinGzxBuRnzx commented on #197
[code]

[2015-07-10 04:53] fuzeman commented on #197
@xzKinGzxBuRnzx looks like watching an extra/trailer caused something to break, will work on a fix now.

[2015-07-10 06:01] fuzeman commented on #197
@xzKinGzxBuRnzx just pushed another fix to the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)).

[2015-07-10 06:40] xzKinGzxBuRnzx commented on #197
@fuzeman Well it does appear to be working now! :D (thanks for that!) There are some issues still...

it keeps throwing this error
[code]

Not sure why?

I've also noticed that it seems to ignore a few settings... https://drive.google.com/file/d/0B-Oiqfh6qsDrREpudnBFQTB6dlk/view?usp=sharing , Trakt shows on my profile something my family is currently watching.

I've also got a few new errors here.

[2015-07-10 07:23] fuzeman commented on #197
@xzKinGzxBuRnzx The ```IntegrityError``` and ```No handlers found for u'...' event``` messages are safe to ignore, these messages will be changed to not look like errors soon.

--------------------------------------

If you look at the log file when a new movie/episode is started on a client there should be some messages logged showing the results of the filters.

**Examples:**
[code]

[code]

[2015-07-11 07:07] xzKinGzxBuRnzx commented on #197
After some more testing I've also noticed that while the plugin is syncing to Trakt, any plays initiated (scrobbled) seem to be ignored.

I tested by doing a full sync entering a 'working' state then starting a video, while it didn't sync the in progress, it later (on next sync) synced watched status. Once the sync had completed I retried playing that same movie and it then pushed in progress to T

[2015-07-11 23:13] fuzeman commented on #197
Interesting, will look into this issue today.

```Sync - Run after library updates``` hasn't been implemented yet, the wiki [page](https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Beta-v0.9.9#notes) has more details on what features haven't been finished yet.

8 minutes is pretty normal currently, my last sync took 10 minutes. I've got a number of ideas to improve syncing performance, but there

[2015-07-11 23:25] fuzeman commented on #199
The "fix" that comes to mind would be an option to only "push" items that have been watched since your previous sync.

I'll post a comment here when something is ready to test.

[2015-07-11 23:26] #195 closed

[2015-07-11 23:34] fuzeman commented on #196
Have you seen this *(incorrect episode being scrobbled)* happen with other episodes?

The only cause I can think of is "The Legend of Korra S04E08" metadata has been cached under the identifier for "Penny Dreadful S02E10" - clearing the ```Plex Media Server\Plug-in Support\Caches\com.plexapp.plugins.trakttv\metadata``` directory might fix this.

[2015-07-12 01:05] daften commented on #189
I'm getting a similar error. I did reset my password, but the problems only started occuring lately (i reset my pass a week or 2 ago). It started this evening, a couple of hours ago, when there was no more scrobbling.

[2015-07-12 02:30] XxUnkn0wnxX commented on #199
k then, but still its a shame we cannot select the shows we want to Pull & push instead of whole library being as default.

but if i mark a show watched on my app it wont apply to plex then..

also do i put Push on both watched and collection?

cozz no one has explained what collection is, is it the same as shows and movies?

[2015-07-12 05:38] fuzeman commented on #197
Check out the development branch for a fix for global filters.

--------------------------------

Haven't been able to reproduce this issue, noticed these messages in your log file though:
[code]

[code]

Massive jumps (at least 98% of the duration) in watching progress are ignored as some clients send bad progress information.

Not sure how you reached 200% of the duration of an item as well (```

[2015-07-12 06:20] fuzeman commented on #199
An option (in the plugin) to select specific shows can't really be implemented that well, the "best" possible implementation would just be a text field containing comma-separated show names.

A better solution would be a "Only sync shows in your trakt watchlist (or custom list)" option, this might be more complex (in code), but it would be a lot easier to setup/manage for users though.

**Note:**

[2015-07-12 07:49] XxUnkn0wnxX commented on #199
well collection and watched then doubles up then in trakt since what i have watched is in my collection since everything in my library gets set to watched. so if i add an old tv show in my library that gets synced to my collection and as i watch through it all it adds onto watched list as well. thus doubling up the shows in each list.

[2015-07-12 15:47] tijptjik commented on #73
Is it possible to filter clients based on the operating system that the client is running on? Say 'OSX' instead of `Plex Web (Chrome)` ?

[2015-07-12 19:19] xzKinGzxBuRnzx commented on #197
I was using Plex/Web.

I completely reset the plugin by deleting any files and folders the plugin used from Plugin Support. After re-configuring the plugin the issue were scrobbling while syncing went away. I was downgrading back to master and upgrading to the latest develop before you fixed some of the major issues above preventing it from working at all. Perhaps this affected it? I'll do some mo

[2015-07-12 20:40] MaartenMol96 commented on #197
Having the same issue here!

[2015-07-12 22:52] fuzeman commented on #197
Just pushed another fix to the development branch, watching activity from "new" clients (seen by the plugin for the first time) weren't being filtered correctly.

Please remember to enable debug logging when you test this, the extra detail is really helpful for debugging.

[2015-07-12 23:16] fuzeman commented on #73
@tijptjik Filtering by operating system isn't possible.

The new configuration interface *(hopefully released this week)* will support filtering by specific client identifiers *(every browser session has a unique client identifier)*, so this will likely be a solution to your filtering issue.

Subscribe to #193 for a notification when this is available.

[2015-07-13 00:49] xzKinGzxBuRnzx commented on #197
@fuzeman Sorry about the debug logs, I had it enabled but forgot to reboot the server for it to take effect.

Anyways, I did more testing with the filtering and I'm afraid it is still logging activity from other users. Although my test results were a bit odd, sometimes it would, sometimes it wouldn't, other times it completely stopped scrobbling even my own activity for a short time.

Tested again

[2015-07-13 03:03] fuzeman commented on #197
Try the latest development version, hopefully we are getting closer to a fix :smile:

[2015-07-13 05:07] xzKinGzxBuRnzx commented on #197
That fixed it! Ran the same test above and I'm also now getting these very special messages...

[code]

[code]

Thank you! :D

[2015-07-13 06:38] xzKinGzxBuRnzx opened #200 "0.9.9.1 (develop) Full sync is failing and/or getting stuck."
This is probably related to the latest changes from my other issue (which was quite long so I created this new issue). 40 minutes now and it is still stuck/broken. (see image) https://drive.google.com/file/d/0B-Oiqfh6qsDrWlVsTEhMU2pBVGc/view?usp=sharing

Here is another log, quite long though from normal usage, so long in fact that Github and Pastebin both disapprove of its length. Here is an exte

[2015-07-13 08:20] fuzeman commented on #200
This should be fixed on the development branch now.

I've also increased the database timeout to hopefully fix the ```BusyError: BusyError: database is locked``` error in your log as well.

[2015-07-13 08:26] fuzeman commented on #197
Good to hear it's finally fixed, this bug was a tricky one :smile:

[2015-07-13 08:26] #197 closed

[2015-07-13 12:14] tijptjik commented on #73
Thanks for the update, indeed it would!

[2015-07-13 14:11] xzKinGzxBuRnzx commented on #200
Tested and working! Thanks!

[code]

[2015-07-13 14:47] xzKinGzxBuRnzx opened #201 "0.9.9.1 (develop) Cancelling full sync throws error and does not stop sync"
After my previous issue were sync took too long to complete, I later tried cancelling the sync and ended up with the below error. I also tested today (after the fix from previous issue, to ensure it wasn't the cause) and still get the same thing.

Sync continues until finished, cancel throws error and does nothing.

Error:
[code]

Log:
[code]

[2015-07-13 15:20] daften opened #202 "Scrobbling doesn't work when myplex users filter is enabled"
The settings were the same as before, but suddenly what I'm watching isn't shown in trakt anymore and scrobbles didn't get through. The filter just contained my plex username. When I make that field empty, everything works again.

[2015-07-15 05:42] #200 closed

[2015-07-15 05:46] fuzeman commented on #201
Haven't implemented the "Cancel" button yet, it's on the [to-do list](https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Beta-v0.9.9#todo).

Will start working through items on the to-do list after the new configuration interface is released *(hopefully this week)*.

[2015-07-15 05:48] fuzeman commented on #202
Which version of the plugin are you using?

Could you upload your log file *(after starting to watch something in plex)*, see https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log_Files for the location of the log files.

[2015-07-16 22:41] daften commented on #202
Hi,

Jup, I've put it on https://gist.github.com/daften/de170a63884b173e0a13 since I can't upload files here.

Thanks!

[2015-07-17 21:15] xzKinGzxBuRnzx opened #203 "v0.9.10.0-develop Breaks scrobbling"
Scrobbling is broken again.

Log:
[code]

Also, reverting back to 34cab4c fixes the issue.

[2015-07-18 00:21] fuzeman commented on #203
This bug should be fixed now.

[2015-07-18 00:34] xzKinGzxBuRnzx commented on #203
Works! :+1:

[2015-07-18 00:34] #203 closed

[2015-07-18 08:49] fuzeman commented on #193
**v0.9.10.1-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.1-beta

The new configuration interface *(to setup multiple accounts)* has also been released, check the [release notes](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.1-beta) for more details.

[2015-07-18 11:18] lendenrk commented on #194
Hi,

First of all, thank you for your work, I'm using your plugin since several months and it's great.

I've one question about the new features. Do the next releases will make us to have a Plex account to sign in with on your configuration interface?
Currently, I'm using Plex with local configuration and I don't sign in with my account, so I was wondering how will it be in the next releases.

Tha

[2015-07-18 12:15] fuzeman commented on #194
@lendenrk you can still use the latest beta version without signing into the new configuration site, the built-in preferences dialog in plex still functions as usual.

The configuration site is just to needed to setup more accounts (for multi-user scrobbling/syncing) or for adjusting the new activity rules.

**Note:** the configuration web-app is completely client-side, everything is still stored

[2015-07-18 13:32] XxUnkn0wnxX opened #204 "Tv Shows Metadata Refuses to download with Trakt Plugin Installed"
over the past 3 weeks the Metadata for all my shows have been really slow they do download eventually like 5-6 hours later.
i check theTVDB and the metadata is already there but plex doest seem to grab it.

![image](https://cloud.githubusercontent.com/assets/2242880/8761758/15dc6f3a-2da5-11e5-83ef-327ad4f5384b.png)

is any one else been having this issue recently cozz i tired of Metadata not being

[2015-07-18 14:13] XxUnkn0wnxX commented on #204
ok may have fixed the issue for now but it happens to often with this plugin installed...

i set matcher to Plex instead of Plex Extended & rating conflict resolution to Latest and restarted server and ran few tests & Metadata seems to download fine then...

[2015-07-18 15:59] facted opened #205 "0.9.10.1-beta Failure to Sync"
I'm not able to sync with the new beta. I'm getting the following in my log file:

Handling request GET /video/trakt
2015-07-18 11:55:40,174 - com.plexapp.plugins.trakttv      (1a88) :  DEBUG (com.plexapp.plugins.trakttv:814) - Found route matching /video/trakt
2015-07-18 11:55:40,177 - com.plexapp.plugins.trakttv      (1a88) :  DEBUG (com.plexapp.plugins.trakttv:117) - Checking if com.plexapp.plu

[2015-07-18 16:55] lendenrk commented on #194
Ok, thank you for your answer.

[2015-07-18 23:08] xzKinGzxBuRnzx opened #206 "0.9.10.0 (develop) Sync finished but nothing changed"
I had some Plex databases issues, basically a hard drive went offline and Plex removed all its content from its library. I fixed the issue but Plex's library remained messed up so I reverted to a backup, allowed it to pick up new content and then triggered a full sync.

Watched/unwatched status did not change for the new (and already watched) videos even though it said it completed successfully. R

[2015-07-19 01:09] fuzeman commented on #205
I've got a pretty good idea what's causing this, will let you know when there is a fix available to test.

[2015-07-19 01:20] fuzeman commented on #204
Are you using the stable release *(v0.9.1.26)*, with "Sync - Run after library updates" enabled?

This could possibly delay metadata processing if the sync is started before plex has completely finished downloading metadata.

Having a short delay on "Sync - Run after library updates" *(waiting until all your metadata has finished processing)* would probably help quite a bit.

---------------------

[2015-07-19 03:02] fuzeman commented on #199
Sorry for the late response, it's been a busy week.

I feel like we have different thoughts on what should be in your collection and watched history..

 - Your "collection" contains everything you have added to your plex libraries (watched + unwatched)
 - Your "watched" history contains everything you have watched *(there is no "currently watching", or "old show" definition)*

So, if you watch an

[2015-07-19 03:16] fuzeman commented on #206
A "Full" sync on the beta first runs a "Quick Pull" *(finds changes to trakt since your last sync, applies them to plex)*, then runs a "Push".

Running an actual "Pull" on the beta compares everything in plex against your trakt data and updates watched states if they don't match trakt. *(this should of fixed your plex library)*

Hopefully that makes sense :smiley:

[2015-07-19 03:26] fuzeman commented on #202
It appears the user reported by your client is empty *(there should be a username listed in the ```''``` quotes)*:
[code]

Not sure what would cause this though, could you check ```Activity -> Now Playing``` lists a user when you start watching something?

For example, user should be listed like:
![](http://i.imgur.com/k15KINh.png)

[2015-07-19 04:51] fuzeman commented on #205
Could you install the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)) and try another sync. I'm expecting a new error to be displayed that will provide some more details on what is actually happening.

[2015-07-20 00:59] fuzeman commented on #201
Implemented on the development branch, will be released in the next beta.

**Note:** syncs aren't instantly cancelled, it waits for a "safe" cancel point to avoid any corruption issues.

[2015-07-20 00:59] #201 closed

[2015-07-20 14:15] tlauen opened #207 "Problem signing in"
I've downloaded the Trakttv.bundle file (tried with both the stable and beta version) and installed it in the proper folder (~/Library/Application Support/Plex Media Server/Plug-ins). But when I try to open the Trakt settings under Channels (both locally and on plex.tv/web) there's no Trakt.tv channel to choose.

Bottom line, can't enter my trakt.tv creditentials anywhere. What to do?

[2015-07-20 15:02] rogueosb commented on #194
I'm a bit confused about the new configuration site. I've logged in on my server, and it just shows a mostly blank page with a box labelled "Connect" with nothing inside it. I've tried removing all traces of the plugin, and reinstalling it, but it's still the same. I am on the latest beta (0.9.10.1).

[2015-07-20 15:40] facted commented on #205
In messages I'm getting: Exception Can't pickle: attribute lookup thread.lock failed
I'm getting the following in my log:

2015-07-20 11:32:23,096 - com.plexapp.plugins.trakttv      (3434) :  DEBUG (com.plexapp.plugins.trakttv:717) - Handling request GET /video/trakt/:/function/Cover.png?function_args=Y2VyZWFsMQoxCmRpY3QKMgppMQpzMTAKYWNjb3VudF9pZHMxMwoxNDM3NDA2MzQzLjAzczcKcmVmcmVzaHIwCg__
2015-07-

[2015-07-20 17:12] xzKinGzxBuRnzx opened #208 "0.9.10.1 (develop) Pull throws error"
So, I was testing your suggestion from #206 and I ended up with a few new errors. EDIT: This also seems to apply to full sync's.

Log:
[code]

[2015-07-21 03:41] fuzeman commented on #207
This likely means the plugin crashed on startup.

Could you upload the plugin log files, see https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log_Files for more details on the location of them.

[2015-07-21 03:56] fuzeman commented on #194
@rogueosb your servers should be displayed, for example:
![](http://i.imgur.com/iIl35d7.png)

--------------------------

To help debug this issue, could you:
 1. Open the developer console (```Ctrl + Shift + J``` on chrome, ```Ctrl + Shift + K``` on firefox)
 2. Reload the page
 3. Reach the "Connect" page again

Then check the console for any error messages, for example:
![](http://i.imgur.com/o

[2015-07-21 03:59] fuzeman commented on #205
Thanks, will look into this issue today.

I've spotted this issue randomly on my server as well, not sure what the exact cause is yet.

[2015-07-21 04:10] fuzeman commented on #208
The ```PicklingError: Can't pickle <type 'thread.lock'>: attribute lookup thread.lock failed``` error has just been reported in #205, will get this fixed today.

-----------------------------

The ```IOError: Stream is closed``` error is coming from the plex framework itself, it appears to be caused when a plex client viewing the trakt interface doesn't cleanly close response streams.

Pretty sure

[2015-07-21 08:11] rogueosb commented on #194
Here's the console output:
![image](https://cloud.githubusercontent.com/assets/6019664/8795800/02adf3a4-2f88-11e5-943d-037a068bec63.png)
And the "Network" tab:
![image](https://cloud.githubusercontent.com/assets/6019664/8795831/4dc4df10-2f88-11e5-94e2-a5f993928d4c.png)

This is on the same PC as PMS is installed on, if that matters (although the same thing happens on any PC I've tried).

[2015-07-21 08:15] tlauen commented on #207
I uploaded them here: http://jmp.sh/0TvWa6w

[2015-07-21 08:39] fuzeman commented on #194
@rogueosb just pushed an update that should fix this bug.

Make sure you are on v1.0.8 by clicking on the ```</>``` button in the bottom left:
![](http://i.imgur.com/D8Rj5aU.png)

[2015-07-21 08:55] fuzeman commented on #207
Strange, can't see any issues in the log files..

Try this direct link to the channel:
[http://localhost:32400/web/index.html#!/server/0fb3bbe2e972c5a6ad1e0c54f745f74168b09e3d/channel/%2Fvideo%2Ftrakt](http://localhost:32400/web/index.html#!/server/0fb3bbe2e972c5a6ad1e0c54f745f74168b09e3d/channel/%2Fvideo%2Ftrakt)

If that doesn't work, the "Plex Media Server.log" log file might give some pointers

[2015-07-21 09:33] rogueosb commented on #194
That fixed it. Thanks a lot!

[2015-07-21 13:29] tlauen commented on #207
I managed to add the pin in the settings using the direct link. Seems like it works now :)

[2015-07-21 21:46] #207 closed

[2015-07-22 01:28] fuzeman commented on #205
Fix released in [v0.9.10.2-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.2-beta)

[2015-07-22 01:29] fuzeman commented on #208
Fix released in [v0.9.10.2-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.2-beta)

[2015-07-22 01:30] #206 closed

[2015-07-22 01:30] fuzeman commented on #196
Closing due to inactivity

[2015-07-22 01:30] #196 closed

[2015-07-22 01:31] #157 closed

[2015-07-22 01:31] #185 closed

[2015-07-22 01:32] #130 closed

[2015-07-22 01:32] #35 closed

[2015-07-22 01:32] #28 closed

[2015-07-22 01:32] #71 closed

[2015-07-22 01:33] #29 closed

[2015-07-22 01:47] saitoh183 commented on #205
using 10.2 but im getting nothing synced after i watch a show

Log: http://pastebin.com/cPhwbaCS

[2015-07-22 02:03] xzKinGzxBuRnzx commented on #208
Works! :+1:

[2015-07-22 02:03] #208 closed

[2015-07-22 02:14] fuzeman commented on #205
It appears the plugin couldn't map your watching activity to an account. Could you check your accounts are still configured correctly (with green ticks for trakt + plex) and maybe even try re-authenticating them?

The commit above is to just display a ```Unable to match user %r against any account``` message instead of raising an error, this won't fix the actual cause of issue.

[2015-07-22 03:02] saitoh183 commented on #205
Seems good now, Plex auth had green tick but was missing user name. Myabe you should have a warning up if missing info. I know there is one when there is no info but missing info should have one also. Also i notice that if you put the wrong password and click save, save icon changes fast and it doesnt save any data entered. It should tell you it is the wrong password or something. Same goes for lo

[2015-07-22 03:49] fuzeman commented on #205
Thanks for the feedback. I'm going to be working on improvements to the interface over the next week or two, so will add your issues/suggestions to the to-do list.

[2015-07-22 07:53] XxUnkn0wnxX commented on #199
like you listed:
Title + Year
Plex ID
TheTVDB ID

Title and Year of the show followed by the Plex ID of the show/Object and the TVDB Id of the show.

but as for the user interface one would just select the shows to include and that will save the above details into simple file and only load the ones from the file.

so when you select the Channel and where you see Sync & About functions. add in a Se

[2015-07-22 08:00] XxUnkn0wnxX commented on #204
i have it set to: Sync - Run every 3 hours & Sync - Run after library updates but i don't see any delay functions in the settings.. because when Library updates i would assume both Plex and plugin start running there scripts at the same time and stuffs up around there..

i am running the stable release.. and yes having the ability to run after library updates + a Timed delay  should solve it... (A

[2015-07-22 09:25] Tuumke commented on #130
@fuzeman why is this closed exactly?

[2015-07-22 09:26] scottrobertson commented on #130
@Tuumke it's been a while since anyone complained about it. Seems to be sorted now.

[2015-07-22 09:50] jmagnusson commented on #29
@fuzeman Why was this closed?

[2015-07-22 23:07] fuzeman commented on #29
Documentation is being added to the [wiki](https://github.com/trakt/Plex-Trakt-Scrobbler/wiki), might port this to [RTD](https://readthedocs.org/) in the future though.

[2015-07-22 23:16] fuzeman commented on #130
The original issue report was over a year ago, please open a new issue if this is happening on the latest versions (stable or beta) of the plugin.

[2015-07-22 23:52] saitoh183 commented on #205
I  can't get my other user to push or scrobble to trakt. I tried to redo all the credentials  but still no luck.

Log:http://pastebin.com/1BbaZGYC

[2015-07-23 12:40] jmagnusson commented on #29
Sweet! A link to this documentation in the app would be awesome.

[2015-07-23 15:43] facted commented on #205
That version has fixed my issues. Thanks!

[2015-07-23 22:21] fuzeman commented on #205
@saitoh183
Appears to be the same issue in https://github.com/trakt/Plex-Trakt-Scrobbler/issues/205#issuecomment-123527434

If re-authenticating the account doesn't fix this issue, could you create a new issue as we are talking about something very different to the original issue report now :smile: .

[2015-07-23 22:21] #205 closed

[2015-07-24 01:41] saitoh183 opened #209 "Global filter problem"
I dont think the "Global Filter - Libraries" doesnt seem to work when i use manual Push TV and show is scrobbled. I set up the filter to exclude my Kids TV show and Movies.

my current list: Anime,French TV,Movies,UFC,TV Shows. I dont have a log at the moment but will post one if you need it

[2015-07-24 02:01] saitoh183 opened #210 "Manual push other users not working"
I can't get my other user to push or scrobble to trakt. I tried to redo all the credentials but still no luck.The credentials are working because there is scrobbled content under his account on trakt .

Log:http://pastebin.com/1BbaZGYC

![image](https://cloud.githubusercontent.com/assets/1534197/8866108/864f1b3e-3186-11e5-8944-9ac372a0a6f0.png)

[2015-07-24 02:43] fuzeman commented on #209
Yeah, "Global Filter - Libraries" isn't applied to syncs on the current beta release. I've got it implemented on the development branch now and will be included in a new beta release later today.

**Note:** the current development version of the plugin isn't compatible with the current release of http://trakt-for-plex.github.io/configuration, the configuration interface might not work correctly if

[2015-07-24 02:53] saitoh183 commented on #209
Ok I will wait for the beta

[2015-07-24 04:01] fuzeman commented on #210
The error displayed in the image is a trakt.tv connection issue, the API starts refusing connections when it's under load.

There is this error present in your log file:
[code]
Which means the scrobbler wasn't able to match watching activity to any account.

I'm guessing this is from a user that doesn't have an account setup? *(unless there is a bug causing this?)*

[2015-07-24 04:05] saitoh183 commented on #210
There are 2 users. One has his account setup and scrobble works but not manual Sync the other account is just the user name that I can't delete or use  because it is a managed account.

[2015-07-24 23:19] fuzeman commented on #209
Released in [v0.9.10.3-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.3-beta)

[2015-07-24 23:19] #209 closed

[2015-07-27 20:06] Rumik opened #211 "Pull from trakt failed (AttributeError: "'NoneType' object has no attribute 'rfind'")."
Hi there,

Using the latest master release on the latest trakt server, running on my QNAP NAS. Getting this error when trying to sync down from trakt.tv.

Any ideas?

Thanks!

[2015-07-28 23:16] fuzeman commented on #211
Will look into this bug now.

[2015-07-29 02:03] fuzeman commented on #211
This issue should be fixed in [v0.9.1.28](https://forums.plex.tv/discussion/comment/982372/#Comment_982372), let me know if the issue is still happening after updating.

[2015-07-29 02:03] #211 closed

[2015-07-29 02:15] fuzeman commented on #210
Could you upload a log after updating to v0.9.10.3-beta, there should be a new ```Unable to match user <username> against any account``` message displayed instead.

Double check the ```<username>``` displayed matches the account configuration.

---------------------------

This has reminded me, using an email address in the plex authentication options probably won't work correctly. Will look into

[2015-07-29 14:45] saitoh183 commented on #210
@fuzeman

Will post as soon as it is done

[2015-07-29 16:06] saitoh183 commented on #210
@fuzeman

Log part 1: http://pastebin.com/R9Cx7a1i
Log part 2: http://pastebin.com/CPHyd2aT

I will post another Log in about 2hr because i think the API was timing out during the logs i just posted because the scan lasted 20secs whereas the first time i did it (but missed the logs), it lasted 3mins

[2015-07-30 17:05] aaomidi opened #212 "Feature Request, connect to trakt servers using SOCKS proxy."
Title

[2015-08-01 21:38] saitoh183 commented on #210
@fuzeman
Any news on this?

[2015-08-03 08:28] fuzeman commented on #210
The ```Unable to find show by id: <id>``` messages are interesting... this is likely causing a lot of shows to be ignored in syncs.

Looking into another possible cause for this issue now.

[2015-08-03 14:31] Amandysha opened #213 "AGAIN: Trakt Channel disappears from my Plex Media Server."
Trakt Channel disappears from my Plex Media Server. I've tried everything (master (stable), beta and develop) with my Plex Windows version 0.9.12.4.1192.

[2015-08-03 20:13] alltimemarr commented on #202
Hello,

I have the same problem. For me, it just does not scrobble at all.
I have tried all kinds of filters, my username (alltimemarr) or the shown name (Marr), and the combination.
Also I tried filtering on client. Both Plex Home Theater, and the name of my computer (like MacBook-Pro etc etc)

For me it says the same thing:
2015-08-03 22:10:51,179 (10f2df000) :  INFO (logging_handler:46) - [plug

[2015-08-03 20:28] alltimemarr commented on #192
Okay, I fixed my issue regarding not being able to share my library with other people. My sister now has her own account, but now I can't get the filters to work.

I tried using the Client and Username field, but nothing let's me scrobble..

http://prntscr.com/80gjen
<MediaContainer size="1"><Server name="MacBook-Pro-van-Marjolein" host="xxxx" address="xxxx" port="3005" machineIdentifier="xxxx" ve

[2015-08-04 01:04] fuzeman commented on #210
I've fixed a number of multi-user syncing issues on the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), let me know if this fixes your syncing issues.

**Note:**  The new sync "Interval" option *(at http://trakt-for-plex.github.io/configuration)* probably won't work correctly until the official beta release.

[2015-08-04 02:52] fuzeman commented on #213
Could you upload the plugin log files, see https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log-files for the location of them.

[2015-08-04 14:17] Amandysha commented on #213
Okey @fuzeman. Thank you! See: https://www.dropbox.com/s/ggm2q211pwo2cnl/com.plexapp.plugins.trakttv.log?dl=0

[2015-08-04 15:37] saitoh183 commented on #210
@fuzeman

Yup it seems to be working now :)...Now all that is left is to wait till you make it possible to add users without the need of there plex  password.

[2015-08-04 15:37] #210 closed

[2015-08-04 22:49] toddgrotenhuis opened #214 "Error: Authentication Failed"
"Invalid credentials"

I am using my credentials as per the website, copied directly from the source where I copied them to get into the website.

Prior to this, I updated to the most recent master branch and restarted plex media server. Running on Yosemite.

[2015-08-05 00:27] fuzeman commented on #210
I'm currently working on PIN authentication *(same authentication method as PHT)*, should be ready for release this weekend :smiley:

![](http://i.imgur.com/0ch9Ckw.png)

[2015-08-06 10:38] Amandysha commented on #213
Hi @fuzeman, any newss about my trakt issue?

[2015-08-06 12:15] fuzeman commented on #213
Can't see any obvious causes for the plugin to disappear in that log file, due to log rotation it is missing messages from when the plugin actually started up though..

Could you upload a new log file after restarting Plex Media Server *(wait ~3 minutes for the plugin to startup completely)*, this will show any startup errors in the plugin.

[2015-08-06 12:22] fuzeman commented on #214
Are you using single sign-on (twitter/facebook/google) for your trakt.tv account? if so, see https://github.com/trakt/Plex-Trakt-Scrobbler/issues/153#issuecomment-68468035

If you aren't using single sign-on: could you upload the plugin log files, see https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log-files for the location of them.

[2015-08-07 13:17] saitoh183 opened #215 "Sync intervals question"
I would like to know if this works with the new version of trakt? Like i would like trakt to do a push pull every Day. what is the order of execution? Will pull first and then push?

I ask because given my current situation, im forced to use Emby with Kodi because the latest Plexbmc plugin is not really cutting it.(wife is nagging me) So in order to keep watched status up to date on plex, i will u

[2015-08-07 13:20] saitoh183 opened #216 "2 Feature requests for Sync intervals"
When setting the sync Interval in multiuser configuration page or in the trakt channel setting page, It should show the time till next sync.

Ability to set a specific time

[2015-08-07 23:22] fuzeman commented on #215
I haven't encountered any issues with the new sync intervals feature on the development branch, the official beta release has just been delayed until some features are finished up on the new configuration interface.

It triggers a full sync (Quick Pull, then Push).

A full sync will update plex with any changes from trakt first, so this shouldn't happen.

The configuration dialog in plex itself is

[2015-08-07 23:28] fuzeman commented on #216
Good idea, this shouldn't be too hard to implement in the new configuration site.

Can't really add this to the trakt channel settings *(plex framework limitation)*, might be able to display this in the "Sync" menu though.

Supporting custom [CRON expressions](https://en.wikipedia.org/wiki/Cron#CRON_expression) might be the easiest way to support this, will try look into this next week.

[2015-08-08 01:10] daften commented on #202
Ok, I figured it out, and it's very stupid. My client was logged out, due to the security leak a while back I guess. After logging in on the client (home theater on mac), it works again.

[2015-08-08 01:10] #202 closed

[2015-08-09 10:53] fuzeman commented on #193
**v0.9.10.4-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.4-beta

[2015-08-09 10:59] #215 closed

[2015-08-09 11:11] fuzeman commented on #204
The new implementation of ```Sync - Run after library updates``` in **[v0.9.10.4-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.4-beta)** waits until metadata has finished downloading completely.

**Note:** The ```Sync - Run every``` option doesn't wait until a library update has finished, might implement this in the future.

[2015-08-09 11:11] #204 closed

[2015-08-10 17:07] rectifyer commented on #214
This might be related. I just updated to the latest beta version and it gets this error when I try to enter a new PIN code.

[code]

The reason I got a new PIN code was because it thought I wasn't authenticate when loading the sync menu.

[code]

[2015-08-11 18:24] fokum8 opened #217 "Disabling scrobbling for DLNA?"
Is there any way that I can disable scrobbling when watching from DLNA enabled devices? When other people in my house watch my plex content through DLNA, it logs on Trakt. How can I stop this?

[2015-08-11 19:03] toddgrotenhuis commented on #214
Somehow, things hadn't updated (despite my steps above: it was still on v0.8.4.5-master). I re-applied the bundle, and this is no longer an issue.

[2015-08-11 19:03] #214 closed

[2015-08-12 04:24] fuzeman commented on #214
@rectifyer the ```IntegrityError``` is normal, it's just how accounts are created/updated on startup. Your 2nd traceback is actually showing your plex account isn't authenticated *(this is normally handled automatically inside the plugin)*.

I've reproduced a bug that is likely causing the authentication issues, working on a fix now.

[2015-08-12 12:07] fuzeman commented on #214
Plex authentication issue should be fixed in **[v0.9.10.5-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.5-beta)**

[2015-08-12 12:07] fuzeman commented on #193
**v0.9.10.5-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.5-beta

[2015-08-12 22:23] bonyboy opened #218 "Movie is getting continual play counts added to Trakt on a daily basis"
Problem:
For some reason the same movie that I watched months ago keeps getting play counts added to it on a daily basis.  When I discovered this, I had 5200 plays.  Yesterday I deleted all of them and today I am already back up to 8.

My logs can be found [here](https://www.dropbox.com/sh/7r3loq9s0ef670x/AAD9t8Bq2MYRI7QwoBky4wa0a?dl=0&s=so).

[Trakt thread I started prior to opening this issue](h

[2015-08-13 00:28] Izzmo commented on #132
Try downloading the beta, that worked for me.

[2015-08-13 00:31] Izzmo opened #219 "Unable to retrieve account libraries/sections: Plex account hasn't been authenticated"
Can't seem to get my account to authenticate.

I will do the pin, add it to the settings, the log shows it authenticates and gets my name, but when I try to sync it just fubars.

This is beta5.

Log:
[code]

[2015-08-13 00:36] Izzmo commented on #219
So doing a little more research, looks like scrobbling works, but the plugin just exceptions on the sync.

Also, seeking causes another exception to occur in scrobbling.

[2015-08-13 01:17] fuzeman commented on #218
This issue usually happens when there is a metadata mismatch between your plex server and trakt, ideally incorrectly matched media needs to be detected and ignored from syncs..

----------------------

To figure out what is causing this duplication issue, could you find the movie that is being duplicated in Plex/Web and do the following:

1. Open the "Info" dialog
![](http://i.imgur.com/aUcqXe9.gi

[2015-08-13 01:25] fuzeman commented on #219
Could you restart Plex Media Server, wait a few minutes *(to ensure the plugin has finished starting up)* and then upload the latest plugin log file.

On startup the plugin should automatically link your plex account *(this clearly isn't working though)*, scrobbling still works because it doesn't require access to your plex account.

[2015-08-13 01:28] fuzeman commented on #217
I'll need to do some testing to work out if this is possible, will try have an answer for you later today.

[2015-08-13 06:22] rectifyer commented on #219
I'm getting the same error as above. Just to test it out, I did a fresh install on the latest beta (removed the various support files) and here is the initial error I received.

[code]
Then after going into the Sync menu, I get the same error as in the 1st post.

[2015-08-13 06:47] RustyBower commented on #132
I'm having the same issue. Running the newest beta doesn't solve the problem

[2015-08-13 10:02] fuzeman commented on #219
I've fixed a few authentication issues on the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)), after installing this version try setting a new trakt authentication pin in the settings to ensure the plugin is authenticated correctly.

**Note:** You need to be logged into your plex.tv account on Plex/Web for the plugin to configure everything cor

[2015-08-13 10:03] fuzeman commented on #132
Please upload the plugin log files if you are seeing this issue, see https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log-files for the location of them.

[2015-08-13 12:44] fuzeman commented on #193
**v0.9.10.6-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.6-beta

[2015-08-13 12:57] fuzeman commented on #217
This will require some changes to the plugin, will let you know here when it's been implemented.

[2015-08-13 12:58] fokum8 commented on #217
Okay, thank you :)

On Thu, Aug 13, 2015 at 1:58 PM, Dean Gardiner <notifications@github.com>
wrote:

[2015-08-13 13:34] Izzmo commented on #132
@RustyBower you need to wait a little bit for it to finish settnig up, as @fuzeman said to me in another thread. It should show up after 60 seconds or so though in my experience.

[2015-08-13 15:47] RustyBower commented on #132
@Izzmo
Unfortunately no luck. This is a screenshot of the unsupported app store and we see the trakt plugin is installed - http://puu.sh/jAb5P/61031a0d78.jpg
This one is the general channel list, with no trakt plugin showing up - http://puu.sh/jAb53/e597fa6ef8.jpg

@fuzeman My PMS Plugin Logs directory is actually empty. I do see things in the regular plex logs though.

[2015-08-13 16:46] rectifyer commented on #219
Working! I got a new PIN and it authenticated correctly. Just ran a sync which also worked. Thanks!

[2015-08-13 19:24] bonyboy commented on #218
[Here you go](https://www.dropbox.com/s/jdcxh9rx6dgg29a/21944.xml?dl=0)

And thank you, for all the work (and support) you do for this community.  I'm sorry it took an issue to come up for me to say this.

[2015-08-13 23:53] fuzeman commented on #218
Your server has the movie incorrectly identified as http://www.imdb.com/title/tt2447276/, this can be fixed by using the "Fix Incorrect Match" option in Plex/Web.

The correct IMDb page for the movie at http://www.imdb.com/title/tt3478594/ has an incorrect release date listed though, this means trakt probably wasn't able to find the movie. I've submitted a change to IMDb to correct this, it will p

[2015-08-13 23:55] fuzeman commented on #219
Will close this now, fix was released in v0.9.10.6-beta

[2015-08-13 23:55] #219 closed

[2015-08-14 04:31] fuzeman commented on #218
I've just released [v0.9.1.29](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.1.29) and [v0.9.10.7-beta](https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.7-beta) which should stop syncs from constantly re-adding items to your watched history.

[2015-08-14 05:03] bonyboy commented on #218
Awesome! I've loaded it up v0.9.10.7-beta and will clear out the "Plays" from Trakt for that movie (15 so far today)

Thank you for your help..

[2015-08-16 11:33] fuzeman commented on #132
@RustyBower there definitely should be files in the "PMS Plugin Logs" directory :confused:

What operating system is your PMS running on?

------------

You could try a clean install of the beta:
 - Stop Plex Media Server
 - Uninstall "Trakt.tv" via Unsupported App Store
 - Delete the "Trakttv.bundle" folder from your "Plug-ins" folder
 - Copy over the latest beta "Trakttv.bundle" into your "Plug-

[2015-08-16 13:50] RustyBower commented on #132
Running on FreeNAS via one of the plugins. However I have since started to manually update plex since the jail is way too slow updating.

I'll give the App Store reinstall a try and respond back.

[2015-08-16 19:44] Anahkiasen opened #220 "Mark items found in Plex as Collected on Trakt"
The Kodi plugin for Trakt does this, but this one doesn't seem to, would be a great feature

[2015-08-16 21:43] fuzeman commented on #220
This feature is supported, have you enabled it in the settings?
![](http://i.imgur.com/hpETAqC.png)

[2015-08-17 08:49] Anahkiasen commented on #220
I had missed that option somehow, nevermind me :p

[2015-08-17 08:49] #220 closed

[2015-08-17 14:39] saitoh183 opened #221 "Full sync not not updating content of other users"
Im trying to full sync my wifes account and it is not updating plex

Log: http://pastebin.com/7snN2LMK

[2015-08-18 10:21] fuzeman commented on #221
Could you enable debug logging *(for ```Plugin``` and ```Libraries```)* via the plugin preferences in plex and upload a log file after another sync.

What kind of data isn't updating *(watched states, playback progress, ratings)*?

[2015-08-18 10:44] saitoh183 commented on #221
Well from what I can tell, its the watched state that isn't being pulled since her plex account has nothing watched yet. I will post the new log in about 1h from now

[2015-08-18 12:30] saitoh183 commented on #221
Here is the log:

http://pastebin.com/CB0LwxkY

[2015-08-18 17:26] facted opened #222 "Cannot authenticate in 0.9.10.7 beta or developer"
I'm running 0.9.10.7 beta and I cannot authenticate after installing. I went to https://trakt.tv/pin/478 and found my auth code and entered it and saved, but then went I went to sync I get " Plex account has not been authenticated". Same behavior on the developer build. I tried deleting all my settings and starting over, but that did not fix the problem either.

One quick question: Everytime I got

[2015-08-19 00:11] #218 closed

[2015-08-19 00:39] fuzeman commented on #221
Have you tried a "Pull" sync? this will to compare everything in plex against your trakt data and apply any changes.

A "Full" or "Quick Pull" will only apply changes to your trakt profile since your last sync, this means data could be ignored if the plugin has already "seen" the change but wasn't able to apply it to plex *(sync cancelled, authentication error, etc..)*

---------------------------

[2015-08-19 00:52] saitoh183 commented on #221
going to give the Pull a try. Quick pull handed work either

[2015-08-19 00:58] fuzeman commented on #222
Could you:
 - Enable debug logging *(for ```Logging - Plugin``` and ```Logging - Libraries```)* via the plugin preferences in plex
 - Restart Plex Media Server *(so the plugin is restarted)*
 - Set a new trakt pin in the plugin preferences
 - Post the latest plugin log here

Also, make sure you are logged into your plex.tv account in Plex/Web when you update the plugin preferences. The plugin uses

[2015-08-19 01:04] facted commented on #222
Logged into my account. Still the same error.

2015-08-18 21:02:11,627 (3a90) :  INFO (core:347) - Starting framework core - Version: 2.6.2, Build: 9b6935b (Wed May 20 03:15:08 UTC 2015)
2015-08-18 21:02:11,630 (3a90) :  DEBUG (core:359) - Using the elevated policy
2015-08-18 21:02:11,630 (3a90) :  DEBUG (core:448) - Starting runtime component.
2015-08-18 21:02:11,631 (3a90) :  DEBUG (core:448) -

[2015-08-19 01:19] saitoh183 commented on #221
The Pull sync worked. So for new accounts we should do a Pull Sync the first time?

[2015-08-19 01:20] fuzeman commented on #222
These messages are interesting:
[code]

It appears it can't retrieve the account token via Plex/Web, will need to do some testing to figure out what could be causing this.

[2015-08-19 01:29] fuzeman commented on #221
The first full sync on new accounts *should* pull everything in correctly, a "Pull" sync for new accounts should only be required if the first sync fails or is cancelled.

That's how it's designed, there might be a bug causing this to fail though..

[2015-08-19 01:31] saitoh183 commented on #221
ic...well it worked ...i will monitor to see if the full sync works as i have it setup to do it in day intervals

[2015-08-19 08:27] fuzeman commented on #222
I've only been able to reproduce this issue when Plex/Web isn't logged into a plex.tv account, not sure what else could cause this..

Could you install the development branch ([develop.zip](https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip)) and try setting your trakt pin again, more details will be displayed in the log file to help debug this issue.

[2015-08-19 17:59] facted commented on #222
I thought you meant trakt.tv account, not plex. Let me recheck this
tomorrow when I'm home. I'm not 100% sure my plex.com account was logged
in.
On Aug 19, 2015 4:27 AM, "Dean Gardiner" <notifications@github.com> wrote:

[2015-08-20 19:58] facted commented on #222
You were right on! It was related to plex account not being logged in. Thanks!

[2015-08-21 23:49] #222 closed

[2015-08-21 23:49] #221 closed

[2015-08-22 04:05] fuzeman commented on #217
I've implemented this on the beta version in the [feature/TFP-124](https://github.com/fuzeman/Plex-Trakt-Scrobbler/tree/feature/TFP-124) branch, you can download it here: [feature/TFP-124.zip](https://github.com/fuzeman/Plex-Trakt-Scrobbler/archive/feature/TFP-124.zip)

After some more testing this will be merged into the beta and stable branches.

----------------------------

You just need to us

[2015-08-23 10:27] fuzeman commented on #193
**v0.9.10.8-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.8-beta

[2015-08-25 15:13] Amandysha commented on #132
Hey @fuzeman, the same ploblem again. Please see my log file:

2015-08-23 08:18:43,015 (11f4) :  INFO (core:347) - Starting framework core - Version: 2.6.2, Build: 9c43436 (Mon Jul 20 02:39:32 UTC 2015)
2015-08-23 08:18:43,463 (11f4) :  DEBUG (core:359) - Using the elevated policy
2015-08-23 08:18:43,502 (11f4) :  DEBUG (core:448) - Starting runtime component.
2015-08-23 08:18:48,325 (11f4) :  DEB

[2015-08-25 15:46] Amandysha commented on #213
Hey @fuzeman, I have the same problem again. Please see my log file:

2015-08-23 08:18:43,015 (11f4) : INFO (core:347) - Starting framework core - Version: 2.6.2, Build: 9c43436 (Mon Jul 20 02:39:32 UTC 2015)
2015-08-23 08:18:43,463 (11f4) : DEBUG (core:359) - Using the elevated policy
2015-08-23 08:18:43,502 (11f4) : DEBUG (core:448) - Starting runtime component.
2015-08-23 08:18:48,325 (11f4) :

[2015-08-25 16:17] RustyBower commented on #132
I actually ended up completely nuking the entire jail and reinstalling
plex, the unsupported app store, and trakt from scratch. Which seemed to
work.

On Tue, Aug 25, 2015 at 8:13 AM, Amandysha Guerrero <
notifications@github.com> wrote:

[2015-08-27 00:39] Izzmo commented on #219
I'm still running into this on v0.9.10.8.

[2015-08-27 00:42] Izzmo commented on #219
Here's the latest in the log if this helps:

2015-08-26 19:31:10,536 - root                             (1c2c) :  INFO (root:840) - 302 GET /video/trakt/sync (127.0.0.1) 6.00ms
2015-08-26 19:31:10,542 - root                             (1b90) :  INFO (root:840) - 200 GET /video/trakt/sync?message=Plex+account+hasn%27t+been+authenticated&account_id=1&message_only=True&title=Error (127.0.0.1) 3.00ms

[2015-08-27 12:08] fuzeman commented on #213
The error displayed in that log is actually coming from the Plex Plug-in Framework, not sure how this could be fixed..

It does appear the plugin is starting very slowly *(~10x slower than my system)*, are you running Plex Media Server on a low-spec system?

[2015-08-27 12:12] fuzeman commented on #132
Let's continue this issue in #213

[2015-08-27 12:12] #132 closed

[2015-08-27 12:33] fuzeman commented on #219
@Izzmo sounds like a similar issue to #222, have you logged into Plex/Web with your plex.tv account?

[2015-08-28 07:04] Valdimarsson commented on #192
Hi. I had the same problem regarding my sister. She used to log in with my account but now my wife's sister and my brother in law, all use my account. I found out yesterday that they can register sith their own account and I just have to invite them as friends. That doesn't require a plex pass which I don't have either. PM me if you have questions :-)

[2015-08-29 11:33] fokum8 commented on #217
Hey Dean. Thank you for doing this. I'll check it out when I get back from
vacation!

On Sat, Aug 22, 2015 at 6:05 AM, Dean Gardiner <notifications@github.com>
wrote:

[2015-09-02 15:50] RykerIX commented on #194
I don't know if this is the right place to post this, but it seems my plex managed users don't get synched at what ever interval setting you choose. Always gotta sync manually. Also, I'm sure this isn't very helpful, but scrobbling is so hit on miss, which is why I'm using the Sync every X time period option.:)

[2015-09-04 05:21] ianhyzy opened #223 "Sync fails with 401: oath must be provided"
Running the latest plugin on the latest Plex Media Server.

[2015-09-05 17:34] jcrevier opened #224 "Trakt records show episodes in a shuffled playlist as watched"
Plex allows you to shuffle an entire series. When doing this, the trakt plugin marks all of the shows in the randomly generated playlist as watched, even if one doesn't finish all of them. Is this behavior expected?
Using Xbox one as a client. Haven't tried to reproduce with other clients.

[2015-09-06 03:29] fuzeman commented on #194
@RykerIX
Could you open a new issue for the scrobbling issue.

-------------------------

Provide the following details:
 - Plex Media Server version
 - Clients used (Plex/Web, PHT, DLNA, etc..)
 - Latest plugin log file (after you notice issues with scrobbling again)
    - Set ```Logging - Plugin``` to ```DEBUG``` in the plugin preferences (via Plex/Web)
    - See https://github.com/trakt/Plex-Tr

[2015-09-06 03:31] fuzeman commented on #223
This usually means the trakt.tv authentication token is invalid, have you tried entering a new authentication pin in the plugin preferences?

[2015-09-06 03:33] fuzeman commented on #224
This isn't expected behavior, will do some testing today to work out what's happening.

-------------

Which version of the plugin are you using (can be found in ```Channels -> trakt -> About```)?

[2015-09-06 03:34] ianhyzy commented on #223
No, and I don't see an option for that in settings, where is it? I'm on
version 0.9.1.29

On Sat, Sep 5, 2015, 22:31 Dean Gardiner <notifications@github.com> wrote:

[2015-09-06 03:36] fuzeman commented on #223
Sorry, forgot the "Authentication PIN" is only available on the beta branch.

----------------

Try the following (for the master/stable branch):
 - Clear the password field
 - Click "Save"
 - Set your password again
 - Click "Save"

This will force the plugin to re-authenticate.

[2015-09-06 03:46] ianhyzy commented on #223
Still getting the same error after doing that.

On Sat, Sep 5, 2015, 22:36 Dean Gardiner <notifications@github.com> wrote:

[2015-09-06 04:54] fuzeman commented on #223
I've confirmed username/password authentication is still working, so there must be something specific to your system/account causing this.

--------------

Did you create your trakt account via twitter/facebook/google login?

Using social login actually means your trakt account doesn't have a password, see https://github.com/trakt/Plex-Trakt-Scrobbler/issues/153#issuecomment-68468035 for details o

[2015-09-06 16:15] jcrevier commented on #224
0.9.1.29-master

[2015-09-06 23:12] fuzeman commented on #224
Haven't been able to reproduce this issue on Plex/Web.

Could you follow these steps to provide the plugin log file:
 - Set ```Logging - Plugin``` and ```Logging - Libraries``` to ```DEBUG``` in the plugin preferences
 - Reproduce the issue again
 - Upload the latest log file, post it here - See [this page](https://github.com/trakt/Plex-Trakt-Scrobbler/wiki/Log-files) for the location of the log f

[2015-09-09 05:41] gotson opened #225 "Is there a way to auto update the plugin ?"
I had to manually update recently from my 0.8.x version, since the plugin is not offered on the plex store.
How can one automatically update the plugin when stable releases are available ?

[2015-09-12 01:54] mannibis opened #226 "Manual Sync Fails w/ ConnectionError"
Running PMS v0.9.12.11 on MacMini 2012 running Mountain Lion
Plex-Trakt Scrobbler v0.9.1.29 Master

Upon manual sync I get the following error:

Last run 1 minute ago, taking 55 seconds, failed (ConnectionError: "('Connection aborted.', BadStatusLine("''",))").

Upon running it again, another error:

Last run 56 seconds ago, taking 4 seconds, failed (ConnectionError: "HTTPSConnectionPool(host='api

[2015-09-13 05:59] fuzeman commented on #193
**v0.9.10.9-beta** has been released: https://github.com/trakt/Plex-Trakt-Scrobbler/releases/tag/v0.9.10.9-beta

[2015-09-13 06:17] fuzeman commented on #225
[Unsupported App store](https://forums.plex.tv/discussion/151068/unsupported-app-store-as-in-totally-unsupported-is-currently-offline/p1) is currently the only way to automatically update the plugin. It's currently listed as "offline", but the download listed ([here](http://bit.ly/ihqmEu)) should still work and will allow you to install the master/stable version of the trakt plugin. *(there is cur

[2015-09-13 06:23] fuzeman commented on #226
It's fairly common to have connection issues with trakt.tv at peak times, are the connection errors still happening?

**Note:** You could also try the [beta branch](https://forums.plex.tv/discussion/comment/1017685/#Comment_1017685), syncing is likely a bit more stable.

----------------------------

For example, the spikes in this graph usually indicate connection errors:
![](http://i.imgur.com/O

[2015-09-13 06:29] rectifyer commented on #226
@fuzeman do you have any more details on those spikes? The API is looking super stable with the metrics on our side, so I'm wondering if we can pinpoint any issues more specifically with the exact API methods. For example, is it certain users causing the spikes in errors or a general thing for all users of the addon?

[2015-09-13 06:56] fuzeman commented on #226
@rectifyer the top connection errors have been reported by around 3k - 5k users, they are usually:
 - ```Caused by ReadTimeoutError("HTTPSConnectionPool(host='api-v2launch.trakt.tv', port=443): Read timed out. (read timeout=24)```
 - ```Caused by ProtocolError('Connection aborted.', error(10054, 'An existing connection was forcibly closed by the remote host')```
 - ```Caused by ProtocolError('Conn

[2015-09-14 07:48] towo opened #227 "Very, very many dropped connections"
Hi there,

I had to restart my PMS on Friday, and the new version seems to be giving me a bit of grief in the logs, as I'm getting a dropped connection from localhost every half minute. I don't know if there's any functionality loss, but the logging overhead is ... annoying, to say the least. Especially because it's on INFO.

[code]

[2015-09-14 11:54] isadic opened #228 "Pull from trakt returns error: "Unable to construct task""
Full sync doesn't return any error, but it seems not to working, in fact all the content is still in unwatched status.

Latest beta plugin version, latest version Plex Media Server.

Here is my "Pull from trakt" log:
http://pastebin.com/M3kJevgM

[2015-09-14 21:48] towo commented on #227
This seems to have been related to an old version of PMS.

[2015-09-14 21:48] #227 closed

[2015-09-15 02:47] fuzeman commented on #228
That looks like the media server log file (```Logs\Plex Media Server.log```), could you upload the latest plugin log file (```Logs\PMS Plugin Logs\com.plexapp.plugins.trakttv.log```) after attempting another sync.

[2015-09-15 03:28] fuzeman commented on #227
I'm still seeing these messages on the latest version of PMS. If this is still an issue the severity of these messages could be reduced to ```DEBUG```.

[2015-09-15 08:33] baphled commented on #111
+1

[2015-09-16 22:27] typistX opened #229 "Can't turn on Scrobble, other options disabled too"
Hello,

Just installed this (master), entered username and password and clicked "sync". Stuff did sync.

The main issue is that I can't change the "Scrobble" option from False to True or whatever that should be for it to automatically sync. Other options, like "Clean Collection", aren't accessible either. I've already tried removing my credentials and re-adding them.

Thanks!

[2015-09-17 08:10] fuzeman commented on #229
There isn't a way to disable certain plugin options, so this sounds like a bug in the client being used to configure the plugin.

Have you tried using Plex/Web to configure the trakt plugin? other plex clients are known to have bugs in plugin configuration.

----------------------------------------------

If you have tried configuring the plugin with Plex/Web, providing the plugin log files will h

[2015-09-17 08:12] fuzeman commented on #228
Possibly fixed on the "develop" branch, download here: https://github.com/trakt/Plex-Trakt-Scrobbler/archive/develop.zip

[2015-09-17 08:20] typistX commented on #229
This worked. It's a checkbox, which apparently isn't a supported UI element in Kodi's Emby skin.

While I'm here, may I ask what settings are recommended for maximum "protection" to library status? I'm afraid to turn on "Push & Pull" on watched status for example, so Trakt doesn't override Plex for some weird reason. Any suggestions?

I'll close this one soon!